/* ————————————————————侧栏面板布局———————————————————— */

.file-tree {
	&>.block__icons {
		padding-left: 3px; /* 跟下面的 .b3-list 对齐 */
		padding-right: 13px; /* 滚动条的宽度 + .b3-list 的 margin-right */
	}

	&>.fn__flex-1 {
		scrollbar-gutter: stable;

		&>.b3-list {
			margin-left: 3px; /* 尽可能利用空间 */
			margin-right: 3px;
		}
	}
}
/*.layout__dockr > .fn__flex-1:not(.fn__none) {*/
/*	margin-left: 3px; !* TODO 这里会导致侧栏面板宽度异常，暂时注释。需要跟进 https://github.com/siyuan-note/siyuan/issues/13516 *!*/
/*}*/

/* 调整侧栏浮窗高度与层级 CSS片段 */
/* TODO 未钉住的侧栏弹出样式还可以优化，比如圆角、阴影、位置之类的 */
/* 其实可以直接把底栏盖住，更好看也更实用 */
.layout__dockl.layout--float,
.layout__dockr.layout--float {
	top: 32px !important;
	bottom: 24px !important;
	z-index: 4 !important;
}
#dockLeft, #dockRight {
	z-index: 5;
}

/* 取消钉住右侧栏时，右侧文档的滚动条与侧栏之间需要间隔 */
.layout__center:has(~ .layout--float > .fn__flex:not(.fn__none)) > .fn__flex-1:last-child {
	.protyle-content {
		margin-right: 15px;
	}

	.protyle-scroll {
		right: 25px;
	}
}

/* 右侧栏 */
/* 底栏会挡住右下侧栏（如果有底部侧栏的话不会挡住、如果关闭了底栏的话不会挡住） */
body:has(> #dockBottom.fn__none):has(> #status:not(.fn__none)) {
	#dockRight,
	.layout__dockr .layout__dockresize {
		padding-bottom: 24px; /* 等于底栏 status 的高度 */
	}
}

/* 底部侧栏 */
#dockBottom {
	padding: 0;
}
#dockBottom .dock__item--space {
	display: none; /* 底部侧栏的左右两边都合并到左边 */
}
#dockBottom .dock__item {
	order: 1;
}
#dockBottom .dock__item.dock__item--pin {
	order: 0; /* 钉住按钮始终放在最左边 */
}

/* 侧栏面板焦点状态的侧栏按钮样式 */
.dock .dock__item.dock__item--activefocus{
	background-color: var(--b3-theme-primary-lightest);
	color: var(--b3-theme-primary);
}


/* ————————————————————文档树———————————————————— */

/* 笔记本区隔 */
.sy__file ul.b3-list.b3-list--background {
	border-radius: var(--b3-border-radius);
	margin: 3px 4px 3px 4px;
	outline: 1px solid var(--b3-theme-on-surface-light);
	/* overflow: hidden; */
}
.sy__file .b3-list-item {
	margin-left: 0;
	margin-right: 0;

	&[data-type="navigation-root"] {
		line-height: 30px; /* 笔记本行高 */
	}
}
/* 文档树和大纲的 dragover */
.sy__file .dragover[data-type="navigation-root"]::after,
.sy__outline [data-subtype="h1"]::after {
	width: 100%;
	left: 0;
}
/* flex 布局避免笔记本外边距合并 */
.sy__file > .fn__flex-1 {
	display: flex;
	flex-direction: column;
}
/* 笔记本 dragover */
.sy__file [data-type="navigation-root"] {
	&.dragover__top::after,
	&.dragover__bottom::after {
		height: 4px;
		width: calc(100% - 10px);
		left: 5px;
	}

	&.dragover__top::after {
		top: -5px;
	}

	&.dragover__bottom::after {
		bottom: -5px;
	}
}

/* 避免展开文档树误触打开文档：只要箭头颜色变深就能展开下级 */
.sy__file .b3-list-item {
	padding-left: 0;

	&[data-type="navigation-root"]  {
		margin: 0;
		padding-left: 4px;

		&:hover > .b3-list-item__toggle--hl {
			color: var(--b3-theme-on-background);
		}
	}

	.b3-list-item__toggle {
		height: 28px;
		border-radius: unset;
		transition: unset; /* 即时响应 */

		&.b3-list-item__toggle--hl:hover {
			background-color: unset;
		}
	}

	/* 已关闭的笔记本 */
	&[data-type="toggle"] {
		padding-left: 3px; /* 跟 .file-tree > .block__icons 一致 */
		padding-right: 13px;

		&:not(:hover) {
			opacity: 0.6;
		}

		.b3-list-item__toggle {
			color: var(--b3-theme-on-background);
		}

		/* 笔记本 */
		&+ .fn__flex-1 > .b3-list-item:hover {
			background-color: var(--b3-list-hover);
			border-radius: var(--b3-border-radius);
		}
	}
}