/* ————————————————————编辑区———————————————————— */
/* TODO 调整样式的时候分屏看 所见即所得 和 导出预览 模式，有的情况下需要不同的样式 */

/* ————————————————————行级元素———————————————————— */
/* 在编辑器里和属性面板里，行级元素的上层都有 [data-node-id] */

/* TODO 这些样式需要跟进原生样式的变更 */
/* .b3-typography导出预览，[data-node-id]导出PDF/图片/大纲面板，.protyle-wysiwyg编辑器*/
.b3-typography, [data-node-id], .protyle-wysiwyg [data-node-id] {
	/* 行级标记。放在最前面用于覆盖原生的颜色 */
	mark,
	span[data-type~="mark"] {
		background: inherit;
		color: inherit;
		box-shadow: 0 -0.7em 0 0 inset var(--b3-protyle-inline-mark-background), var(--custom-inline-box-shadow) var(--b3-protyle-inline-mark-background);

		&.mark--hl {
			background-color: var(--b3-theme-primary-lighter);
			box-shadow: 0 0 0 .5px var(--b3-theme-on-background);
		}
	}

	/* 行级标记。放在最前面用于覆盖原生的颜色。主题色虚线 CSS片段 https://github.com/TCOTC/siyuan-css-dashed-line-memo */
	span[data-type~="inline-memo"] {
		background: inherit;
		border-bottom: medium dashed var(--b3-theme-primary);
	}

	span[data-type~="sup"],
	span[data-type~="sub"] {
		position: relative;
		font-size: 75%;
		line-height: 0;
		vertical-align: baseline;
	}

	span[data-type~="sup"] {
		top: -.5em;
	}

	span[data-type~="sub"] {
		bottom: -.25em;
	}

	em,
	span[data-type~="em"] {
		font-style: italic;
		color: var(--b3-protyle-inline-em-color);
	}

	s,
	span[data-type~="s"] {
		color: var(--b3-protyle-inline-s-color);
		text-decoration: line-through;
	}
	/* 已完成的任务列表项 */
	.protyle-task--done > [data-node-id] > [spellcheck] > span[data-type~="s"] {
		color: rgb(from var(--b3-protyle-inline-s-color) r g b / .5);
	}

	strong,
	span[data-type~="strong"] {
		font-weight: bold;
		color: var(--b3-protyle-inline-strong-color);
	}

	/* TODO 行级标签。导出预览是纯文本所以没有行级标签样式 */
	span[data-type~="tag"] {
		/*opacity: 0.86;*/
		position: relative;
		font-size: 85%;
		border-bottom: unset;
		border-radius: var(--b3-border-radius);
		padding: .2em .4em;
		margin: 0 1px;
		color: var(--b3-card-success-color);
		background-color: rgb(from var(--b3-card-success-background) r g b / .65);

		&:hover {
			/*opacity: 0.99;*/
			background: var(--b3-card-success-background);
		}

		&::before{
			content: "#";
			color: var(--b3-theme-primary);
			padding-right: 0.1em;
		}
	}
	.export-img span[data-type~="tag"] + span[data-type~="tag"]::before{
		content: none; /* TODO 导出图片时的行级元素有问题，等待 issue 解决之后修改 https://github.com/siyuan-note/siyuan/issues/13856 */
	}

	span[data-type~="inline-math"] {
		user-select: text;
		display: inline;
	}

	code:not(.hljs), span[data-type~=code] {
		padding: .2em .4em;
		margin: 0 1px;
		font-size: 85%;
		border-radius: var(--b3-border-radius);
		font-family: var(--b3-font-family-code);
		word-break: break-word;
		background-size: 20px 20px;
		white-space: pre-wrap;
		background-color: var(--b3-protyle-code-background)
	}

	kbd,
	span[data-type~="kbd"] {
		padding: 2px 4px;
		font: 75% Consolas, "Liberation Mono", Menlo, Courier, monospace, var(--b3-font-family);
		line-height: 1;
		color: var(--b3-theme-on-surface);
		vertical-align: middle;
		background-color: var(--b3-theme-surface);
		border: solid 1px var(--b3-theme-surface-lighter);
		border-radius: var(--b3-border-radius);
		box-shadow: inset 0 -1px 0 var(--b3-theme-surface-lighter);
	}

	u {
		text-decoration: none;
		border-bottom: 1px solid;
	}

	/* 下划线 */
	u,
	span[data-type~="u"] {
		border-bottom: 0.1em solid;
		color: var(--b3-protyle-inline-u-color);
	}

	a,
	span[data-type~="a"] {
		opacity: 0.86;
		transition: unset;

		&:hover {
			opacity: 1;
			/*border-bottom: 0.1em solid;*/
			border-bottom: unset;
		}
	}

	span[data-type="virtual-block-ref"] {
		transition: unset;
	}

	.img {
		img {
			border-radius: var(--b3-border-radius); /* 图片圆角 */
		}
		.protyle-action__title:has(> span:empty) {
			display: none; /* 隐藏空标题 */
		}
	}
}

/* ————————————————————滚动条———————————————————— */

.av:not(:hover) > .av__container > .av__scroll {
	--b3-scroll-color: transparent; /* 数据库块未 hover 时隐藏横向滚动条 */
}
/* TODO 侧栏未 hover 时隐藏滚动条（编辑器的滚动条始终保留） */

/* ————————————————————编辑器顶部———————————————————— */

/* 文档标题 */
.protyle-title {
	margin-top: 0 !important;
}

/* 头图、图标、标签 */
.protyle-background__ia {
	display: flex; /* TODO 用 flex 布局重写 */
	margin-top: 0 !important;

	.protyle-background__icon {
		margin-top: 0 !important;
		margin-bottom: 0;
		border-radius: 5px;
		font-size: 60px;

		&:hover {
			background-color: var(--b3-list-hover);
			opacity: 1;
		}

		&:not(.fn__none) {
			&+ .b3-chips__doctag {
				margin-left: 80px;
				margin-top: -34px;
				transform: none;

				&+ .protyle-background__action {
					margin-left: 80px;
					margin-top: -34px;
					transform: none;
				}
			}
		}
	}

	.b3-chips__doctag {
		&:not(.fn__none) {
			&+ .protyle-background__action {
				margin-top: 5px;
			}
		}
	}

	.b3-button {
		&:hover {
			opacity: 1;
		}

		svg {
			width: 12px;
			opacity: 0.6;
		}
	}
}


/* 文档标签 */
.protyle-background__ia {
	.b3-chips__doctag {
		&>.b3-chip {
			background-color: var(--b3-card-success-background) !important;
			color: var(--b3-card-success-color) !important;
			margin: 3px;
			border-radius: var(--b3-border-radius-s);
			padding: 0 6px 1px;
			font-size: 90%;

			&::before {
				content: "#";
				color: var(--b3-theme-primary);
				padding-right: 0.1em;
			}

			.b3-chip__close {
				width: 0;
			}

			&:hover {
				.b3-chip__close {
					width: 14px;
				}
			}
		}

		.b3-button {
			width: 23px;
			height: 23px;
			font-size: 0;
			opacity: 0.6;
			border-radius: var(--b3-border-radius-s);
			margin-bottom: inherit !important;

			＆[data-type="tag"] {
				margin-left: 2px;
			}

			&:hover {
				opacity: 1;
			}

			svg {
				margin-right: 0;
				background-color: transparent;
				color: var(--b3-theme-on-background);
			}
		}

		.fn__space {
			width: 2px;
		}
	}
}



/* 文档引用计数 */
.protyle-title .protyle-attr--refcount {
	color: var(--b3-theme-on-error);
	background-color: var(--b3-theme-primary);
}

#layouts div.layout__center div.protyle-content:not([data-fullwidth="true"]) div.protyle-wysiwyg {
	padding-bottom: 70vh !important; /* 更改编辑器底部高度 */
}


/* ————————————————————内容块———————————————————— */

/* 给被引用的块增加虚线外框 CSS片段 */
/* author by JeffreyChen https://ld246.com/article/1728407192369 */
.protyle-wysiwyg [data-node-id][refcount] {
	outline: 2px dashed rgba(255, 165, 0, .5); /* 橙色虚线 */
}
[data-type="NodeBlockQueryEmbed"] [data-node-id][refcount] {
	outline: none; /* 嵌入块内部不显示 */
}

/* 凸显闪卡 */
.protyle-wysiwyg .list[data-node-id][custom-riff-decks],
.protyle-wysiwyg .li[data-node-id][custom-riff-decks] {
	border-left: 2px solid #ff6a6a;
	box-shadow: 1px 1px 4px #aaaaaa;
	margin-top: 2px;
	margin-bottom: 4px;
	padding-left: 2px;

	& > .protyle-action,
	& > [data-node-id] {
		left: -2px;
	}
}
.protyle-wysiwyg .p[data-node-id][custom-riff-decks] {
	border-left: 2px solid #00c853;
	box-shadow: 1px 1px 4px #aaaaaa;
	margin-top: 2px;
	margin-bottom: 4px;
	padding-left: 2px;
}
.protyle-wysiwyg .bq[data-node-id][custom-riff-decks] {
	border-left: 2px solid #cccf84;
	box-shadow: 1px 1px 4px #aaaaaa;
	margin-top: 2px;
	margin-bottom: 4px;
	padding-left: 2px;
}
.protyle-wysiwyg .sb[data-node-id][custom-riff-decks] {
	border-left: 2px solid #7c4dff;
	box-shadow: 1px 1px 4px #aaaaaa;
	margin-top: 2px;
	margin-bottom: 4px;
	padding-left: 2px;

	& > [data-node-id] {
		left: -2px;
	}
}

/* 数据库角标样式 */
.protyle-attr--av > span{
	border-radius: var(--b3-border-radius-s);
}
.protyle-attr--av > span:nth-child(4n+1) {
	color: var(--b3-card-success-color);/* 每组的第1个 */
	background-color: var(--b3-card-success-background);
}
.protyle-attr--av > span:nth-child(4n+2) {
	color: var(--b3-card-info-color); /* 每组的第2个 */
	background-color: var(--b3-card-info-background);
}
.protyle-attr--av > span:nth-child(4n+3) {
	color: var(--b3-card-warning-color); /* 每组的第3个 */
	background-color: var(--b3-card-warning-background);
}
.protyle-attr--av > span:nth-child(4n) {
	color: var( --b3-card-error-color); /* 每组的第4个 */
	background-color: var(--b3-card-error-background);
}


/* 列表 */
.protyle-wysiwyg [data-node-id].li:has(.block-focus) > .protyle-action {
	color: var(--b3-theme-primary);
}
.protyle-wysiwyg [data-node-id].li[fold="1"]:has(.block-focus) > .protyle-action::after {
	background-color: var(--b3-theme-primary-lighter);
}

/* 折叠的列表项 */
.protyle-wysiwyg [data-node-id].li[fold="1"] > .protyle-action::after {
	background-color: var(--custom-list-hover-dark);
}
.protyle .protyle-wysiwyg .li[data-subtype=o] > .protyle-action:hover::after,
.protyle .protyle-wysiwyg .li[data-subtype=u] > .protyle-action:hover::after,
.protyle .protyle-wysiwyg[data-readonly=false] .li[data-subtype=t] > .protyle-action:hover::after {
	background-color: var(--custom-list-hover-darker);
}
/* TODO 任务列表要用方形 */

.protyle-wysiwyg [data-node-id].li[data-subtype="o"][fold="1"]>.protyle-action::after {
	left: unset; /* 有序列表 */
	width: 100%;
}

/* TODO 折叠的标题前的圆点也不好看，要改一下 */

/* ————————————————————标题块———————————————————— */

/* 在标题前添加数字标识 */
/* 用:not(#preview)排除导出PDF，用.protyle-wysiwyg排除导出预览 */
div:not(#preview) > .protyle-wysiwyg div {
	&[data-subtype^="h"] > div:first-child {
		padding-left: 10px;

		&::before {
			font-size: 0.65em;
			font-weight: 200;
			color: rgba(0,0,0,.45);
			position: absolute; /* 使用绝对定位 */
			transform: translateY(44%);
			left: 0;
		}
	}

	&[data-subtype="h1"] > div:first-child::before {
		content: "1";
	}

	&[data-subtype="h2"] > div:first-child::before {
		content: "2";
	}

	&[data-subtype="h3"] > div:first-child::before {
		content: "3";
	}

	&[data-subtype="h4"] > div:first-child::before {
		content: "4";
	}

	&[data-subtype="h5"] > div:first-child::before {
		content: "5";
	}

	&[data-subtype="h6"] > div:first-child::before {
		content: "6";
	}
}


/* ————————————————————代码块———————————————————— */

/* 缩短代码块上下边距，更紧凑 */
/* TODO https://github.com/siyuan-note/siyuan/pull/13564 PR 合并后需要移除这部分 */
.b3-typography .code-block:not(pre),
.protyle-wysiwyg .code-block:not(pre) {
	margin: 2px 0;
}

/* 代码块滚动时语言和按钮固定在编辑器顶部 CSS片段 */
/* author by JeffreyChen https://ld246.com/article/1728146248791 */
/* NOTE 用:not(#preview)排除导出PDF，用.protyle-wysiwyg排除导出预览，.protyle-wysiwyg[data-readonly="true"]是只读模式 */
/* NOTE 导出预览的代码块没有 .protyle-action */
div:not(#preview) > .protyle-wysiwyg .code-block:not(pre) {
	.protyle-action {
		background-color: var(--b3-theme-background);
		position: sticky;
		top: 0;

		&::after {
			content: "";
			position: absolute;
			height: 100%;
			width: 100%;
			background-color: var(--b3-protyle-code-background);
			pointer-events: none;
		}
	}
	.hljs {
		padding: 0 1em 1em;
	}
}

/* 始终显示设置的代码块语言 */
.protyle-wysiwyg .code-block:not(pre):not(:hover) .protyle-action__language {
	opacity: .86;
}
/* 只有 hover 代码块时才显示代码块语言占位符 */
.protyle-wysiwyg[data-readonly=false] .code-block:not(pre):not(:hover) .protyle-action .protyle-action__language:empty::after {
	opacity: 0;
}
/* 代码块语言的左边与代码对齐 */
/* TODO 跟进 https://github.com/siyuan-note/siyuan/pull/13564 ，如果 PR 合并的话就可以删掉这部分了 */
.protyle-action__language {
	position: absolute;
	left: 1em;
}


/* ————————————————————数据库———————————————————— */

/* 筛选 */
.b3-chip--primary, .b3-chip--current {
	background-color: var(--b3-list-hover);
}
.block__icon--active:hover {
	background-color: var(--b3-theme-primary-lightest) !important;
}

.av__title + .av__counter { /* X 已选中 */
	background-color: var(--mix-theme_primary_background);
	color: var(--b3-theme-on-background);
}

.av__container .av__row:hover .av__firstcol svg {
	opacity: 1; /* hover 条目时显示条目的复选框 */
}

/* 块引、数据库块引下划线 */
.protyle-wysiwyg [data-node-id] span[data-type~=block-ref]:not(.av__celltext),
.protyle-wysiwyg [data-node-id] span[data-type~=file-annotation-ref],
[data-node-id] span[data-type~=block-ref]:not(.av__celltext),
[data-node-id] span[data-type~=file-annotation-ref],
.av__celltext--ref {
	opacity: 0.86;
	box-shadow: var(--custom-inline-box-shadow) var(--custom-color-blue-light);
	color: inherit;
	transition: unset;

	&:hover {
		opacity: 1;
	}
}

/* 主键单元格 */
.av__cell[data-dtype="block"] [data-type="block-more"] {
	display: none;
}
.av__cell[data-dtype="block"]:hover [data-type="block-more"] {
	display: block;
}

/* 单选、多选、资源字段选项 */
.av__panel .b3-chip,
.av__row .b3-chip {
	color: var(--b3-theme-on-background) !important;
	outline: 1px solid rgb(from var(--b3-theme-on-surface-light) r g b/0.3);
	outline-offset: -1px;

	&[style*="background-color:var(--b3-font-background13)"] {
		color: var(--custom-database-color13);
		background-color: var(--custom-database-background13) !important;
	}
}

/* 资源字段的标题宽度 */
.av__celltext--url.b3-chip {
	max-width: 15em;
}

/* 关联字段单元格 */
/* https://github.com/siyuan-note/siyuan/issues/13692 */
.av__cell:not(.av__cell--header)[data-dtype="relation"] {
	.av__cell--relation {
		margin-left: 0.5em;

		&:first-child {
			margin-left: 0;
		}

		&>span:first-child {
			display: none;
		}

		.av__celltext {
			&:not([data-type="block-ref"]):hover {
				box-shadow: var(--custom-inline-box-shadow) var(--b3-theme-primary-lighter);
			}

			&::after {
				content: ",";
			}
		}

		&:last-of-type {
			.av__celltext::after {
				content: "";
			}
		}
	}
}

/* Notion Database 布局 */
.av__container {
	width: 100%;

	.av__body {
		min-width: 100%;

		.av__row--header {
			.block__icons {
				padding: unset;
				flex-direction: row; /* "添加字段"和"更多"按钮调换顺序 */
				flex-grow: 1;
				align-items: stretch; /* 使子元素在垂直方向上填满父容器 */

				.block__icon {
					border-radius: unset;
					padding: 0 10px;

					&:nth-child(1) {
						order: 2; /* "更多"按钮放在右边铺满 */
						flex-grow: 1;
					}

					&:nth-child(3) {
						order: 1; /* "添加字段"按钮放在左边 */
					}
				}

				>.fn__space {
					display: none;
				}
			}
		}

		.av__row--util {
			.av__colsticky {
				width: 100%;
				flex-direction: column; /* "添加条目"和"加载更多"按钮分成两行显示 */

				>.b3-button {
					border-radius: unset;
					margin: unset;
					padding: unset;
					height: 2.7em;
					justify-content: flex-start;
					border-bottom: 1px solid var(--b3-theme-surface-lighter);

					span {
						position: sticky;
						left: 2em;
					}

					svg {
						position: sticky;
						left: 0.5em;

						&[data-type="set-page-size"] {
							margin-left: auto;
							padding: 2px 6px;
							right: 5px;

							&:hover {
								background-color: var(--b3-list-hover);
							}
						}
					}
				}

				> .b3-button:first-of-type {
					order: 2; /* "添加条目"按钮放在下方 */
				}

				> .b3-button:last-of-type {
					order: 1; /* "加载更多"按钮放在上方 */
				}

				>.fn__space {
					display: none;
				}
			}
		}

		.av__row--footer {
			border-top: unset;
		}
	}
}

/* 选择和 hover 条目时的高亮 */
/* 用伪元素会影响子元素的颜色，所以修改背景色 */
.av__container .av__row:not(.av__row--header) {

	.av__cell--select,
	.av__cell--active {
		background-color: var(--b3-theme-surface); /* 不能用透明的颜色，会出现不一致 */
	}

	&.av__row--select,
	&.av__row--hl {
		background-color: var(--b3-theme-surface); /* 侧栏面板的颜色 */

		.av__cell {
			background-color: unset; /* 重置原生的背景色 */
		}

		.av__colsticky { /* 固定字段 */
			.av__firstcol, /* 勾选框 */
			.av__cell {
				background-color: var(--b3-theme-surface);
			}
		}
	}
}
.av__container .av__row:not(.av__row--header):hover {
	background-color: var(--b3-list-hover); /* 条目末尾 */

	.av__cell--select,
	.av__cell--active {
		background-color: var(--b3-theme-background-light); /* 不能用透明的颜色，会出现不一致 */
	}

	.av__colsticky {
		.av__firstcol,
		.av__cell {
			background-color: var(--b3-list-hover);
		}

		.av__cell--active {
			background-color: var(--b3-theme-background-light);
		}
	}

	&.av__row--select,
	&.av__row--hl {
		background-color: var(--b3-theme-background-light); /* 条目末尾 */

		.av__colsticky {
			.av__firstcol,
			.av__cell {
				background-color: var(--b3-theme-background-light);
			}
		}
	}
}
