/* TODO 需要确保布局不会跟全屏模式冲突：编辑器全屏、关系图全屏 */

/* 界面圆角 */
body:not(.body--mobile,.body--window) #layouts {
    background-color: var(--b3-theme-surface);
}
body:not(.body--mobile,.body--window) #layouts .layout__center {
    border-radius: var(--b3-border-radius) var(--b3-border-radius) 0 0;
}

#layouts .fn__flex-1 {
    overflow-x: hidden; /* 有的情况下会出现横向滚动条。TODO 跟进 https://github.com/siyuan-note/siyuan/issues/12264 */
}

.protyle-content{width:unset!important;} /* TODO 动态加载时编辑器抖动。跟进 https://github.com/siyuan-note/siyuan/issues/13913 */

/* 隐藏 border 边框 https://github.com/siyuan-note/siyuan/issues/12970 */
.toolbar {
    border-bottom: unset;
}
.dock#dockLeft {
    border-right: unset;
}
.dock#dockRight {
    border-left: unset;
}
.dock#dockBottom {
    border-top: unset;
}
.layout__dockl + .layout__resize::after,
.layout__center + .layout__resize::after {
    background-color: transparent;
}
.layout__resize:hover::after {
    background-color: var(--b3-scroll-color);
    height: 2px; /* hover 时加粗便于判断 */
}
.layout__resize--lr:hover::after {
    height: 100%;
    width: 2px; /* hover 时加粗便于判断 */
}
.layout-tab-bar {
    border-bottom: unset; /* 页签 */
}

/* ————————————————————顶栏———————————————————— */

/* 主菜单 */
#barWorkspace {
    min-width: 50px;
    justify-content: center;
}
#barWorkspace:hover {
    background-color: var(--b3-theme-primary-lightest);
}

.toolbar > .fn__ellipsis {
    opacity: 0; /* 不显示文档名 */
}

