.block__icon, .toolbar__item, .protyle-icons, .protyle-icon, .dock__item--pin {
	transition: unset !important; // 按钮感觉不跟手，不要过渡样式
}

// 工具栏
.protyle-toolbar {
	transition: none; // 禁用工具栏平移效果
}

// 菜单中的部分输入框默认两行高
.b3-menu__item[data-id="链接"] .b3-text-field,
.b3-menu__item[data-id="锚文本"] .b3-text-field,
.b3-menu__item[data-id="标题"] .b3-text-field {
	height: 50px;
	// TODO功能 图片菜单、链接菜单、数据库资源字段链接菜单 里的选项都没有 data-id，需要 PR 给思源
	// TODO功能 参考 https://blog.dkvirus.com/css/css_selector_placeholder_shown/ 排除空输入框，必要时给思源 PR 或者提 issue
}

// 菜单里的链接跟行内链接用同样的颜色
a {
    color: var(--b3-protyle-inline-link-color);
}

// 开关按钮：隐藏悬浮样式
label:hover .b3-switch:checked:not(:disabled)::after, .b3-switch:checked:hover:not(:disabled)::after {
	background-color: var(--b3-switch-checked);
}
.b3-switch::before,
label:hover .b3-switch:checked:not(:disabled)::before,.b3-switch:checked:hover:not(:disabled)::before {
	background-color: unset;
}


// 选项菜单
.b3-menu__item {
	line-height: 27px;
	min-width: 100px;

	// 隐藏不常用的块标选项
	&[data-id="jumpToParentNext"],&[data-id="jumpToParentPrev"],&[data-id="jumpToParent"],&[data-id="enterBack"] {
		display: none;
	}
	&[data-id="docInfo"] .b3-menu__label,&[data-id="updateAndCreatedAt"] .b3-menu__label {
		line-height: 18px;
		font-size: 85%;
	}

	// 菜单宽度：文本的宽度
	.b3-menu__label {
		min-width: 25px;
	}
}
// 页签菜单
// TODO功能 需要给原生 PR 一个菜单的 data-name="tab-header" 属性来简化判断逻辑
#whisperCommonMenu[data-name="tab-header"] + #commonMenu > .b3-menu__items {
	display: flex;
	flex-direction: column;

	[data-id="copy"] {
		order: 1;
	}

	[data-id="split"] {
		order: 2;
	}

	[data-id="pin"] {
		order: 3;
	}

	[data-id="unpin"] {
		order: 3;
	}

	[data-id="tabToWindow"] {
		order: 4;
	}

	[data-id="separator_1"] {
		order: 5;
	}

	[data-id="close"] {
		order: 6;
	}
}

button, input, select, textarea {
	font-size: 97%;
}
.b3-button {
	transition: unset; // 按钮不需要过渡
}

// 输入框、下拉框聚焦状态
.b3-text-field:not(.b3-text-field--text):focus,.pcr-app .pcr-interaction .pcr-result:not(.b3-text-field--text):focus,
.b3-select:focus {
    box-shadow: inset 0 0 0 .6px var(--b3-theme-on-background);
}

// 隐藏闪卡按钮上的图标
.card__icon {
	display: none;
}

// 设置窗口
.b3-dialog--open[data-key="dialog-setting"] .config__tab-title.resize__move {
	cursor: grab; // 表示可拖拽窗口

	&+.b3-form__icon +.config__tab-hr {
		display: none; // 隐藏分隔线
	}
}

// 按钮样式
.b3-button {
	&:active {
		box-shadow: unset;
	}

	&:not(.b3-button--outline):hover,&:not(.b3-button--outline):focus {
		box-shadow: unset;
	}

	&.b3-button--outline {
		transition: unset;
	}
}


//————————————————————块菜单、右键菜单————————————————————

// 调整宽度或高度百分比时，让菜单变透明一点
#commonMenu:has(.b3-slider:active) {
	opacity: 0.86;
}


// ————————————————————外观菜单————————————————————
// TODO功能 需要给标题元素 PR 不同的属性 (否则如果有插件在菜单里添加元素的话可能会冲突，以及需要去除 :has 选择器)
// 隐藏 最近使用
.protyle-font > div.fn__flex:first-child,
.protyle-font > div.fn__flex:first-child + .fn__hr--small,
.protyle-font > div.fn__flex:first-child + .fn__hr--small + .fn__flex-wrap,
.protyle-font > div.fn__flex:first-child + .fn__hr--small + .fn__flex-wrap + .fn__hr {
	display: none;
}
// 隐藏 字体效果
.protyle-font > div:has(+ .fn__hr--small + .fn__flex > .protyle-font__style),
.protyle-font > div:has(+ .fn__flex > .protyle-font__style),
.protyle-font > div:has(> .protyle-font__style),
.protyle-font > div:has(> .protyle-font__style) + .fn__hr {
	display: none;
}
// 隐藏 字号
.protyle-font > div:has(+ .fn__hr--small + .fn__flex > .b3-select),
.protyle-font > div:has(+ .fn__flex > .b3-select),
.protyle-font > div:has(> .b3-select),
.protyle-font > div:has(> .b3-select) + .fn__hr--b {
	display: none;
}
.protyle-font {
	max-width: 238px;
	scrollbar-gutter: auto;
}
// 颜色选项
.color__square {
	&[data-type="color"],&[data-type="style1"] {
		font-size: 18px;
		font-weight: bold; // 字体加粗更清晰
	}
	&[style*="--b3-font-color1"],&[style*="--b3-font-background1"] {
		order: 1;
	}
	&[style*="--b3-font-color2"],&[style*="--b3-font-background2"] {
		order: 2;
	}
	&[style*="--b3-font-color3"],&[style*="--b3-font-background3"] {
		order: 3;
	}
	&[style*="--b3-font-color4"],&[style*="--b3-font-background4"] {
		order: 4;
	}
	&[style*="--b3-font-color5"],&[style*="--b3-font-background5"] {
		order: 5;
	}
	&[style*="--b3-font-color6"],&[style*="--b3-font-background6"] {
		order: 6;
	}
	&[style*="--b3-font-color7"],&[style*="--b3-font-background7"] {
		order: 8;
	}
	&[style*="--b3-font-color8"],&[style*="--b3-font-background8"] {
		order: 9;
	}
	&[style*="--b3-font-color9"],&[style*="--b3-font-background9"] {
		order: 10;
	}
	&[style*="--b3-font-color10"],&[style*="--b3-font-background10"] {
		order: 11;
	}
	&[style*="--b3-font-color11"],&[style*="--b3-font-background11"] {
		order: 12;
	}
	&[style*="--b3-font-color12"],&[style*="--b3-font-background12"] {
		order: 13;
	}
	&[style*="--b3-font-color13"],&[style*="--b3-font-background13"] {
		order: 7; // 把 13 号颜色排到默认色正下方；在数据库选项颜色弹窗里是第一行最右边

		&[data-type="color"]{
			color: var(--b3-theme-on-background) !important;
			-webkit-text-stroke: .1px var(--b3-theme-on-background);
			-webkit-text-fill-color: transparent;
		}
	}
	&[style*="--b3-font-color14"],&[style*="--b3-font-background14"] {
		order: 14; // 数据库选项颜色
	}
}
// 数据库选项颜色菜单
.b3-menu[data-name="av-col-option"] .color__square {
	color: transparent !important;

	&[style*="--b3-font-color13"],&[style*="--b3-font-background13"] {
		background-color: var(--custom-database-background13) !important;
	}
}

// ————————————————————集市————————————————————
// 已下载页面
.config-bazaar__panel {
	&[data-type=downloaded] {
		// 并列显示
		.config-bazaar__content {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
			margin-right: 6px;

			.b3-card {
				display: grid;
				grid-template-columns: 90px 1fr;
				margin: 16px 0 0 16px;

				.b3-card__info {
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;

					.b3-card__desc {
						display: block;
					}
				}

				.b3-card__actions {
					position: absolute;
					bottom: 12px;
					right: 0;
				}
			}
		}

		.fn__hr {
			display: none; // “未找到相关内容”
		}
		.b3-list--empty {
			margin-top: 15px;
		}
	}

	.b3-cards {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
		margin-right: 6px;

		.b3-card--wrap {
			min-width: unset;
		}

		.b3-card {
			display: grid;
			grid-template-columns: 90px 1fr;
			margin: 16px 0 0 16px;
			.b3-card__info {
				overflow: hidden;

				.b3-card__desc {
					display: -webkit-box;
					-webkit-line-clamp: 2;
				}
			}
		}
	}
}

// 华为设备上显示集市
.config__panel > .b3-tab-bar .b3-list-item[data-name="bazaar"] {
	display: flex !important;
}

// 集市 README
#configBazaarReadme .item__main {
	.item__preview {
		border-radius: var(--b3-border-radius-b);
		transition: unset;
	}

	&>.b3-typography:nth-child(2) > blockquote:first-child {
		border-radius: var(--b3-border-radius-b);
		padding: 12px 20px;
		color: var(--custom-theme-on-background_85);
		font-weight: bold;
		font-size: 120%;
		outline: 2px solid var(--b3-theme-on-surface-light);
		outline-offset: -2px;

		&::before {
			display: none;
		}
	}

	.b3-typography blockquote {
		color: var(--custom-theme-on-background_85);

		&::before {
			background-color: var(--custom-theme-on-background_85);
		}
	}
}
// 给 TCOTC 的插件和主题的 README 加点特效
// 原始样式来源于 https://www.bilibili.com/video/BV1b44y1e7Wx/ https://codepen.io/stevenlei/pen/ZEJxXGL
#configBazaarReadme.config-bazaar__readme--show:has(> .item__side[data-obj*="TCOTC"]) {
	background: var(--b3-theme-surface);

	&::before {
		content: '';
		display: block;
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		border-radius: var(--b3-border-radius-b);
		background-color: rgba(228, 147, 208, .5);
		background-image:
				radial-gradient(closest-side, rgba(235, 105, 78, .5), rgba(235, 105, 78, 0)),
				radial-gradient(closest-side, rgba(243, 11, 164, .5), rgba(243, 11, 164, 0)),
				radial-gradient(closest-side, rgba(254, 234, 131, .5), rgba(254, 234, 131, 0)),
				radial-gradient(closest-side, rgba(170, 142, 245, .5), rgba(170, 142, 245, 0)),
				radial-gradient(closest-side, rgba(248, 192, 147, .5), rgba(248, 192, 147, 0));
		background-size:
				130vmax 130vmax,
				80vmax 80vmax,
				90vmax 90vmax,
				110vmax 110vmax,
				90vmax 90vmax;
		background-position:
				-80vmax -80vmax,
				60vmax -30vmax,
				10vmax 10vmax,
				-30vmax -10vmax,
				50vmax 50vmax;
		background-repeat: no-repeat;
		animation: 10s movement linear infinite;
	}

	&::after {
		content: '';
		display: block;
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		border-radius: var(--b3-border-radius-b);
		backdrop-filter: blur(10px);
		-webkit-backdrop-filter: blur(10px);
		pointer-events: none;
	}

	.item__side, .item__main {
		z-index: 1;
	}

	.item__title {
		text-shadow: 0 0 1em var(--b3-protyle-inline-mark-background), 0 0 0.2em var(--b3-protyle-inline-mark-background); // 标题文本光晕
	}
}
@keyframes movement {
	0%, 100% {
		background-size:
				130vmax 130vmax,
				80vmax 80vmax,
				90vmax 90vmax,
				110vmax 110vmax,
				90vmax 90vmax;
		background-position:
				-80vmax -80vmax,
				60vmax -30vmax,
				10vmax 10vmax,
				-30vmax -10vmax,
				50vmax 50vmax;
	}
	25% {
		background-size:
				100vmax 100vmax,
				90vmax 90vmax,
				100vmax 100vmax,
				90vmax 90vmax,
				60vmax 60vmax;
		background-position:
				-60vmax -90vmax,
				50vmax -40vmax,
				0 -20vmax,
				-40vmax -20vmax,
				40vmax 60vmax;
	}
	50% {
		background-size:
				80vmax 80vmax,
				110vmax 110vmax,
				80vmax 80vmax,
				60vmax 60vmax,
				80vmax 80vmax;
		background-position:
				-50vmax -70vmax,
				40vmax -30vmax,
				10vmax 0,
				20vmax 10vmax,
				30vmax 70vmax;
	}
	75% {
		background-size:
				90vmax 90vmax,
				90vmax 90vmax,
				100vmax 100vmax,
				90vmax 90vmax,
				70vmax 70vmax;
		background-position:
				-50vmax -40vmax,
				50vmax -30vmax,
				20vmax 0,
				-10vmax 10vmax,
				40vmax 60vmax;
	}
}

// 表情选择器
.emojis__panel {
	// overflow-x: hidden;

	.emojis__title[data-type="0"] + .emojis__content {
		max-height: 68px; // 最近使用的表情只显示两行
		// width: calc(100% + 10px);
		overflow: hidden;
	}

	.emojis__title[data-type="1"]:not(:has(+ .emojis__content > .emojis__item)),
	.emojis__title[data-type="1"] + .emojis__content:not(:has(> .emojis__item)) {
		display: none; // 如果没有自定义表情就隐藏
	}
}

// 属性菜单 - 数据库
// 数据库标题
.custom-attr__avheader .block__logo {
	color: var(--b3-theme-primary);
	font-size: 1.25em;

	&>.block__logoicon {
		display: none;
	}
}