// 搜索窗口、搜索页签的布局和样式
// 原始样式参考 Savor 主题 v5.2.9 https://github.com/royc01/notion-theme/blob/27ee462ef0eb2e1ff244f860d317014fa56ac75c/style/module/search.css
.b3-dialog--open:is([data-key="dialog-search"],[data-key="dialog-replace"],[data-key="dialog-globalsearch"]) .b3-dialog__container .fn__flex-column{
    display: flex;
    flex-direction: column;
    background-color: var(--b3-theme-surface);

    & > .block__icons {
        order: 2;
        min-height: 28px;

        .resize__move {
            cursor: grab; // 表示可拖拽窗口
        }
    }

    .b3-form__icon.search__header { // 搜索
        order: 1;
        border-top: none;

        &:not(:has(+.b3-form__icon.search__header:not(.fn__none))) {
            border-radius: 0 0 var(--b3-border-radius-b) var(--b3-border-radius-b); // 搜索或替换输入框的圆角
        }

        .block__icon { // 输入框上的按钮
            padding: 6px; // 跟查询条件按钮一致

            svg {
                color: var(--b3-theme-on-background);
            }
        }

        &+.b3-form__icon.search__header { // 替换
            border-top: 1px solid var(--b3-theme-surface-lighter);

            .b3-button { // 两个替换按钮
                padding: 5px 7px; // 跟查询条件按钮一致
                line-height: unset;
            }
        }

        .search__history-icon {
            margin-left: 5px;

            .search__arrowdown{
                margin-left: 3px;
            }
        }

        input {
            padding: 5px 8px 5px 52px !important;
            border-bottom-left-radius: 10px;
        }
    }

    .search__layout { // 搜索结果
        order: 4;
        border-top: none;

        &:not(.search__layout--row) { // 上下布局
            #searchList {
                border-top: none;
            }

            #searchAssetList {
                border-radius: var(--b3-border-radius-b) var(--b3-border-radius-b) 0 0;
                border-top: none;
            }

            .search__drag { // 拖拽线
                &:hover::after {
                    background-color: var(--b3-scroll-color);
                    height: 2px;
                }
            }
        }

        &.search__layout--row { // 左右布局
            // border-radius: var(--b3-border-radius-b) var(--b3-border-radius-b) 0 0;

            #searchAssetList {
                border-radius: var(--b3-border-radius-b) 0 0 0;
            }

            #searchAssetPreview {
                border-radius: 0 var(--b3-border-radius-b) 0 0;
            }

            .search__drag { // 拖拽线
                &:hover::after {
                    background-color: var(--b3-scroll-color);
                    height: 100%;
                    width: 2px;
                }
            }
        }
    }

    #searchUnRefPanel {
        & > .block__icons {
            border-radius: 0;
        }
    }

    .search__empty {
        box-shadow: none !important;
    }

    #criteria {
        order: 3;
        border-top: none;
        border-radius: var(--b3-border-radius-b) var(--b3-border-radius-b) 0 0;

        .b3-chip { // 查询条件按钮
            padding: 5px 7px;
            transition: unset;

            .b3-chip__close {
                transition: unset;
                height: 12px;
                width: 12px;
            }
        }

        .b3-button {
            padding: 5px 7px; // 跟查询条件按钮一致
            line-height: unset;
        }
    }

    .search__tip { // 底部快捷键提示
        order: 5;
        border: none;
    }
}

// 搜素类型和替换类型弹窗
:is([data-key="dialog-searchtype"],[data-key="dialog-replacetype"]) .b3-dialog__content {
    display: grid;
    gap: 0 40px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

    .b3-label {
        padding: 10px 10px;
        border-bottom: none;

        &+.fn__space {
            display: none;
        }
    }

    .fn__flex-1:last-child {
        overflow: visible;

        .b3-label__text {
            padding: 0 10px 10px 0;
            word-break: break-word;
        }
    }
}

// 搜索结果显示多行、样式改进
#searchList {
    // 搜索结果列表
    padding-top: 0;
}
.search__layout.search__layout--row #searchUnRefPreview {
    // 左右布局，列出引用失效的块 预览文档
    padding-top: 6px;
}
:is(#searchList, #searchAssetList) {
    scrollbar-gutter: stable;

    // 使用原生的高亮样式方便查看
    mark {
        background-color: var(--b3-protyle-inline-mark-background);
        color: var(--b3-theme-on-background); // 使用文本默认颜色，对比度更高
        box-shadow: unset;
    }

    // 搜索结果为空时的新建文档选项
    .b3-list-item[data-type="search-new"] {
        height: 3em;
    }

    // 直接子元素：不按文档分组
    &>.b3-list-item[data-type="search-item"] {
        flex-wrap: wrap;
        justify-content: flex-end;
        padding-right: 0;
        padding-bottom: 2px;
        margin-top: 3px;
        margin-bottom: 3px;
        margin-right: 0;
        overflow: hidden; // 文档路径过长时截断

        // 块标
        .b3-list-item__graphic {
            position: absolute;
            padding-top: 5px;
            left: 4px;
            top: 0;
        }
        // 资源文件搜索-文件拓展名
        .ft__on-surface,
        .ft__on-surface + .fn__space {
            display: none;
        }
        // 资源文件搜索-搜索结果文本
        .ft__on-surface + .fn__space + .b3-list-item__text {
            margin: 0;
        }

        // 文档图标
        &>.b3-list-item__graphic + .b3-list-item__graphic {
            position: absolute;
            margin-left: 20px;
        }

        // 带文档图标的文档标题
        &>.b3-list-item__graphic + .b3-list-item__graphic + .b3-list-item__text {
            text-indent: 20px;
        }

        // 搜索结果文本或文档标题
        .b3-list-item__text {
            line-height: 1.3;
            text-align: justify; // 两侧对齐
            margin-left: 20px;
            padding: 3px 3px 3px 0;
            // overflow-y: auto !important;
            // flex-grow: 1;
            // flex-shrink: 0;
            // flex-basis: calc(100% - 28px);
            flex-basis: 100%;
            display: block; // 换行完整显示
        }

        // 其他属性
        .b3-list-item__meta {
            line-height: 20px;
            opacity: .54; // 减弱元信息的干扰

            &:has(> mark) {
                opacity: 1; // 突出显示搜索结果文本
            }

            // 属性图标
            .b3-list-item__hinticon {
                width: 10px;
                height: 10px;
                margin-right: 2px;
            }

            // 属性文本
            .b3-list-item__hinttext {
                font-size: .7rem;
            }

            // 标签或路径
            &.b3-list-item__meta--ellipsis {
                font-size: .7rem;
                max-width: none;

                &::before{
                    content: "#";
                    font-size: 1.1em;
                    padding-right: .1em;
                    color: var(--b3-theme-primary);
                }

                // 路径
                &.ariaLabel {
                    padding-right: 3px;

                    &::before {
                        content: unset;
                    }
                }
            }
        }
    }
}
