// ———————————————————— 底栏 ————————————————————
body:not([data-whisper-device="mobile"]) {
	#status {
		position: fixed;
		right: 0;
		bottom: 0;
		height: 24px;
		border: unset;
		border-radius: var(--b3-border-radius) 0 0 0;
		padding: 0 28px 0 0;
		align-items: center;
		z-index: 3; // 高于选中块的高亮伪元素

		.toolbar__item {
			align-items: center;
			margin: 0;
			// z-index: 8; // 暂时不知道这个有什么用

			svg {
				height: 12px;
				width: 12px;
			}
		}

		// 停靠栏按钮
		#barDock {
			position: absolute;
			right: 4px;
		}
	}

	// 新窗口没有停靠栏按钮
	.body--window #status {
		padding: 0 2px 0 0;
	}

	.status__counter:not(:empty) {
		padding: 0 0 0 .1em;
		line-height: 24px;
	}

	.status__msg:not(:empty) {
		animation: statusmsg 5s ease-in-out;
		max-width: 140px;
		padding-right: 8px;
		transition: max-width 300ms, opacity 300ms;
		transition-delay: 200ms;
		position: relative;
		height: 24px;
		line-height: 24px;

		&:hover {
			max-width: 600px;
			transition: max-width 300ms ease-out;
		}

		&::before {
			content: "📢";
			padding-right: 2px;
		}
	}

	.status > .fn__flex-1 {
		display: none;
	}

	.status__backgroundtask {
		height: 24px;
		line-height: 24px;

		&> div {
			width: 24px;
		}
	}
}

// 下面这些不知道有啥用
// #status #barDock::before {
// right: unset !important;
// left: 0;
// transform: rotateY(180deg);
// }
// #status #barDock::after {
// left: unset!important;
// right: 100%;
// }
// .status > .fn__flex-1 {
// position: relative !important;
// width: 0 !important;
// right: 0;
// flex: 0;
// }
// #status .toolbar__item span {
// margin: 3px;
// font-size: 12px;
// }
// .body--win32 > .fn__flex-1 {
// overflow:visible;
// }