/* ————————————————————伪元素提示———————————————————— */

/* 动画 */
@keyframes tooltipFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes tooltipHrefFadeIn {
    to {
        opacity: 1;
    }
}
/*@keyframes tooltipFadeOut {*/
/*    from {*/
/*        opacity: 1;*/
/*    }*/
/*    to {*/
/*        pointer-events: none;*/
/*        opacity: 0;*/
/*    }*/
/*}*/
@keyframes tooltipHrefFadeOut {
    from {
        opacity: 1;
    }
    to {
        pointer-events: none;
        opacity: 0;
    }
}

/* NOTE 伪元素提示和悬浮提示统一样式、渐变动画 */
.b3-tooltips::before, .b3-tooltips:hover::before {
    display: none; /* 隐藏小三角 */
}
.b3-tooltips::after, .b3-tooltips:hover::after {
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.1); /* 阴影 */
    outline: 1px solid rgba(0, 0, 0, 0.1);  /* 外框 */
    outline-offset: -1px;
    background-color: var(--mix-theme_primary_background);
    color: var(--b3-theme-on-background);
}
.b3-tooltips:hover::after {
    animation-name: tooltipFadeIn;
    animation-duration: 100ms;     /* 动画过渡时间 */
    animation-delay: 800ms;        /* 延迟显示动画 */
    animation-fill-mode: forwards; /* 动画结束后保持最后一帧（不透明） */
    opacity: 0;
}


/* ————————————————————悬浮提示———————————————————— */
.tooltip {
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.1); /* 阴影 */
    outline: 1px solid rgba(0, 0, 0, 0.1);  /* 外框 */
    outline-offset: -1px;
    background-color: var(--mix-theme_primary_background);
    color: var(--b3-theme-on-background);
    animation-name: tooltipFadeIn;
    animation-duration: 100ms; /* 动画过渡时间 */
    animation-delay: 800ms;    /* 延迟显示动画 */
    max-width: 350px;          /* 初始链接宽度(小于这个宽度的情况下字体会变细，很怪) */
    overflow-x: hidden;        /* 设置了 max-width 之后有的情况下会出现横向滚动条 */
    transition: max-width 0.5s 1.5s;
    opacity: 1;
}
/* TODO 1 鼠标移入的瞬间移出，opacity 会瞬间变成 1：不要淡出才行 */
/* TODO 看看能不能用 JS 实现 animation 的效果，读取和修改 style.opacity；看看能不能用上 window.requestAnimationFrame() 方法 */
/*.tooltip.fn__none {*/
/*    display: block !important;     !* 保持显示直到淡出 *!*/
/*    transition: max-width 0s 2s;*/
/*    animation-name: tooltipFadeOut;*/
/*    animation-duration: 100ms;     !* 动画过渡时间 *!*/
/*    animation-delay: unset;        !* 动画无延迟 *!*/
/*    animation-fill-mode: forwards; !* 动画结束后保持最后一帧（不透明） *!*/
/*    !*animation-name: unset;*!*/
/*    !*transition: opacity 100ms 0ms, max-width 0s 2s;*!*/
/*    pointer-events: none;*/
/*    opacity: .5;*/
/*}*/


/* ————————————————————特别类型的悬浮提示———————————————————— */
/* TODO 1 JS 功能已经加上了，还需要修改 PR https://github.com/siyuan-note/siyuan/pull/13476 去掉自定义类名的相关修改，尽快合并。合并 PR 的下一个版本就上架主题（记得改json版本号） */
/* https://github.com/siyuan-note/siyuan/pull/13966 */
/* 无需延迟显示 */
.tooltip[data-whisper-tooltip="emoji"],
.tooltip[data-whisper-tooltip="href_av"] {
    animation-delay: unset;
}
/* 路径信息的悬浮提示统一显示在左下角 */
.tooltip--href,
.tooltip[data-whisper-tooltip="tab_header"] {
    /* 底栏高度 24px */
    line-height: 16px;
    padding: 4px 8px;
    box-shadow: unset; /* 阴影 */
    outline: unset;    /* 外框 */
    border-radius: 0 var(--b3-border-radius) 0 0;
    top: unset !important;
    left: 0 !important;
    bottom: 0 !important;

    pointer-events: none;      /* 有的悬浮提示会有滚动条需要鼠标交互，所以只有这部分放左下角的禁止 */
    white-space: nowrap;       /* 不换行 */
    overflow: hidden;          /* 隐藏超出部分 */
    text-overflow: ellipsis;   /* 显示省略号 */
    max-width: 90vw;           /* 最大链接宽度 */
    animation-name: tooltipHrefFadeIn;
    animation-duration: 300ms; /* 动画过渡时间 */
    animation-delay: 200ms;    /* 延迟显示动画 */
    animation-fill-mode: both;
}
.tooltip--href.fn__none,
.tooltip.fn__none[data-whisper-tooltip="tab_header"] {
    animation-name: tooltipHrefFadeOut;
    animation-duration: 300ms;     /* 动画过渡时间 */
    animation-delay: 200ms;        /* 延迟显示动画 */
    max-width: 350px;              /* 能够使元素添加 .fn__none 之后宽度不变(用于宽度刚好展开一半的情况) */
    transition: max-width 0s 0.3s; /* 隐藏超过 0.3s 宽度就立即缩回 */
}

/* 链接可能有标题，样式单独调整 */
/* TODO跟进 选择器 span 需要跟进 https://github.com/siyuan-note/siyuan/pull/13966 */
.tooltip--href:not([data-whisper-tooltip="href_av"]), /* 数据库链接字段的 tooltip 不放到左下角，因为确实会需要原地查看 */
.tooltip[data-whisper-tooltip="tab_header"] {
    /* TODO &, &.fn__none 有必要吗？ */
    &, &.fn__none {
        display: flex !important;
        flex-direction: row;

        span:first-child {
            order: 3;
            white-space: nowrap;     /* 不换行 */
            overflow: hidden;        /* 隐藏超出部分 */
            text-overflow: ellipsis; /* 显示省略号 */
        }

        .fn__hr {
            order: 2;
            width: 8px;
        }

        span:last-child {
            order: 1;
            white-space: nowrap;     /* 不换行 */
            overflow: hidden;        /* 隐藏超出部分 */
            text-overflow: ellipsis; /* 显示省略号 */
        }
    }
}
