// 内容块

// 内容块拖影 https://github.com/siyuan-note/siyuan/pull/13821
// 用 :not(#preview) 来排除导出的 HTML
body > .protyle-wysiwyg:not(#preview) [data-node-id] {
	background-color: transparent !important;

	&:is(.protyle-wysiwyg--select, .protyle-wysiwyg--hl)::after {
		display: none;
	}
}

// 引述块和其中的行级元素，都变灰色
.b3-typography blockquote, .b3-typography .bq, .protyle-wysiwyg blockquote, .protyle-wysiwyg .bq {
	color: var(--b3-theme-on-surface);
	background-color: var(--b3-bq-background);

	span[data-type~=kbd] {
		color: var(--b3-theme-on-surface);
		border: solid 1px var(--wh-protyle-kbd-border-color_30);
		box-shadow: inset 0 -1px 0 var(--wh-protyle-kbd-border-color_30);
	}
}

// 分隔线
.protyle-wysiwyg [data-node-id].hr > div {
	height: unset; // 兼容 https://github.com/siyuan-note/siyuan/pull/15701 前的旧版本样式
	min-height: 1.625em;

	&::after {
		height: calc(3em / 16);
		top: calc(1.625em / 2 - (3em / 16) / 2); // 居中，与块标对齐
	}
}
.b3-typography hr {
	border-bottom-width: .2em;
	position: relative;
}

// 给被引用的块增加虚线外框 CSS片段
// author by JeffreyChen https://ld246.com/article/1728407192369
.protyle-wysiwyg [data-node-id][refcount] {
	outline: 2px dashed rgba(255, 165, 0, .5); // 橙色虚线
}
[data-type="NodeBlockQueryEmbed"] [data-node-id][refcount] {
	outline: none; // 嵌入块内部不显示
}

// 凸显闪卡
.protyle-wysiwyg .list[data-node-id][custom-riff-decks],
.protyle-wysiwyg .li[data-node-id][custom-riff-decks] {
	border-left: 2px solid #ff6a6a;
	box-shadow: 1px 1px 4px #aaaaaa;
	margin-top: 2px;
	margin-bottom: 4px;
	padding-left: 2px;

	& > .protyle-action,
	& > [data-node-id] {
		left: -2px;
	}
}
.protyle-wysiwyg .p[data-node-id][custom-riff-decks] {
	border-left: 2px solid #00c853;
	box-shadow: 1px 1px 4px #aaaaaa;
	margin-top: 2px;
	margin-bottom: 4px;
	padding-left: 2px;
}
.protyle-wysiwyg .bq[data-node-id][custom-riff-decks] {
	border-left: 2px solid #cccf84;
	box-shadow: 1px 1px 4px #aaaaaa;
	margin-top: 2px;
	margin-bottom: 4px;
	padding-left: 2px;
}
.protyle-wysiwyg .sb[data-node-id][custom-riff-decks] {
	border-left: 2px solid #7c4dff;
	box-shadow: 1px 1px 4px #aaaaaa;
	margin-top: 2px;
	margin-bottom: 4px;
	padding-left: 2px;

	& > [data-node-id] {
		left: -2px;
	}
}

// 数据库角标样式
.protyle-attr--av svg {
	display: none; // 去除数据库图标
}
.protyle-attr--av > span {
	color: var(--b3-theme-on-background);
	padding: 0 .4em;
	border-radius: var(--b3-border-radius-b);
}
.protyle-attr--av > span:nth-child(4n+1) { // 每组的第1个
	background-color: var(--b3-card-success-background);
}
.protyle-attr--av > span:nth-child(4n+2) { // 每组的第2个
	background-color: var(--b3-card-info-background);
}
.protyle-attr--av > span:nth-child(4n+3) { // 每组的第3个
	background-color: var(--b3-card-warning-background);
}
.protyle-attr--av > span:nth-child(4n) {   // 每组的第4个
	background-color: var(--b3-card-error-background);
}

// 表格。首行不要加粗、首行要灰色背景
:is(.b3-typography, .protyle-wysiwyg) table thead th {
	font-weight: normal;
	background-color: var(--b3-table-even-background);
}

// 列表竖线
.protyle-wysiwyg [data-node-id].li {
	&::before {
		border-left-color: var(--b3-theme-background-light);
	}

	&:hover::before {
		border-left-color: var(--b3-theme-background-light); // hover 时颜色不变
	}
}

// 任务列表项前的方框，伪元素用圆角
.protyle-wysiwyg [data-node-id].li[data-subtype="t"] > .protyle-action::after {
	border-radius: var(--b3-border-radius);
}
