// 细碎的内容块样式

// 表格首行：文本不要加粗、要灰色背景
.b3-typography table thead th,
.protyle-wysiwyg table thead th {
	font-weight: normal;
	background-color: var(--b3-table-even-background);
}

// 引述块内部整体变浅
.b3-typography blockquote,
.b3-typography .bq,
.protyle-wysiwyg .bq {
	& > div {
		opacity: 0.7;
		color: var(--b3-theme-on-background);
	}
}

// 分隔线
.protyle-wysiwyg [data-node-id].hr > div::after {
	height: calc(3em / 16);
	top: calc(1.625em / 2 - (3em / 16) / 2); // 居中，与块标对齐
}
.b3-typography hr {
	border-bottom-width: .2em;
}

// 给被引用的块增加虚线外框
// 关联 CSS 片段 https://ld246.com/article/1728407192369
.protyle-wysiwyg [data-node-id][refcount] {
	outline: 2px dashed color-mix(in srgb, var(--b3-theme-secondary) 50%, transparent);
}
// 嵌入块内部不显示
[data-type="NodeBlockQueryEmbed"] [data-node-id][refcount] {
	outline: none;
}

// 凸显闪卡
.protyle-wysiwyg {
	[data-node-id][custom-riff-decks] {
		box-shadow: inset 3px 0 0 var(--wh-riff-color, var(--b3-protyle-inline-mark-background)), var(--b3-button-shadow);
	}
	.list,
	.li {
		--wh-riff-color: #ff6a6a;
	}
	.sb {
		--wh-riff-color: #7c4dff;
	}
	.bq {
		--wh-riff-color: #cccf84;
	}
	.p {
		--wh-riff-color: #00c853;
	}
}

// 数据库角标
.protyle-attr--av svg {
	display: none; // 去除数据库图标
}
.protyle-attr--av > span {
	color: var(--b3-theme-on-background);
	padding: 0 .4em;
	border-radius: var(--b3-border-radius);
}
.protyle-attr--av > span:nth-child(4n+1) { // 每组的第1个
	background-color: var(--b3-card-success-background);
}
.protyle-attr--av > span:nth-child(4n+2) { // 每组的第2个
	background-color: var(--b3-card-info-background);
}
.protyle-attr--av > span:nth-child(4n+3) { // 每组的第3个
	background-color: var(--b3-card-warning-background);
}
.protyle-attr--av > span:nth-child(4n) {   // 每组的第4个
	background-color: var(--b3-card-error-background);
}
