// 代码块

// 代码块背景色强制统一，覆盖代码块主题；代码块文本颜色遵循代码块主题
.b3-typography .code-block,
.protyle-wysiwyg .code-block {
	background: var(--b3-protyle-code-background);
}

// 选中文本的高亮颜色覆盖代码块主题
.protyle-wysiwyg:not(.protyle-wysiwyg--hiderange) .hljs ::selection {
	background-color: var(--b3-theme-primary-lighter);
	color: inherit;
}

// 代码块语言占位符改为 "text"，并且始终显示
.protyle-wysiwyg[data-readonly] .code-block .protyle-action .protyle-action__language:empty::after {
	content: "text";
}

.protyle-wysiwyg .code-block:not(pre) {
	// 始终显示代码块语言
	&:not(:hover) .protyle-action__language {
		opacity: .5;
	}

	// 排除导出 PDF 和导出图片
	div:not(#preview):not(.export-img) > & {
		// 代码块滚动时语言和按钮固定在编辑器顶部
		// 关联 CSS 片段 https://ld246.com/article/1728146248791
		// 备注：
		//   - 用:not(#preview)排除导出PDF
		//   - 用:not(.export-img)排除导出图片
		//   - 用.protyle-wysiwyg排除导出预览
		//   - .protyle-wysiwyg[data-readonly="true"]是只读模式
		//   - 导出预览的代码块没有 .protyle-action
		.protyle-action {
			background-color: var(--b3-parent-background);
			position: sticky;
			top: 0;
	
			&::after {
				content: "";
				position: absolute;
				height: 100%;
				width: 100%;
				background-color: var(--b3-protyle-code-background);
				pointer-events: none;
			}
	
			.protyle-action__language {
				color: var(--b3-theme-on-background);
			}
		}

		// 让代码块语言和按钮高于伪元素显示
		.protyle-action__language,
		.protyle-icon {
			z-index: 1;
		}
	
		// 代码块本身有背景色的情况
		&[style*="--b3-parent-background"] .protyle-action::after {
			background-color: var(--b3-parent-background);
		}
	
		.hljs {
			padding: 0 1em 12px; // .protyle-icon 的高度是 24px，但底部没必要留一致的高度，否则看起来有点怪
		}
	}
}
