// 行级元素
//
// 备注：这些样式需要跟进原生样式的变更
// .b3-typography：导出预览，使用span[data-type]/集市包README，不使用span[data-type]而是使用原生HTML元素
// .protyle-wysiwyg [data-node-id]：编辑器/导出PDF/导出图片
// [data-node-id]：编辑器/大纲面板/导出PDF/导出图片/属性面板

// 行级标记。放在最前面用于覆盖原生的颜色
.b3-typography mark,
.b3-typography span[data-type~=mark],
[data-node-id] span[data-type~=mark] {
	background-color: transparent; // 覆盖标记样式本身的背景色，并且不会影响带背景色的文本
	box-shadow: 0 -0.7em 0 0 inset var(--b3-protyle-inline-mark-background), 0 .1em 0 0 var(--b3-protyle-inline-mark-background); // 添加透明度，避免完全覆盖文本背景色

	// 全局搜索-搜索资源文件内容-首个高亮结果的标记。原生样式没有被覆盖所以这里保持注释
	// &.mark--hl {
	// 	background-color: var(--b3-theme-primary-lighter);
	// 	box-shadow: 0 0 0 .5px var(--b3-theme-on-background);
	// }
}

// 反链浮窗中的对应的块引用锚文本
.protyle-wysiwyg [data-node-id] .def--mark {
	background-color: var(--b3-protyle-inline-mark-background);
}

// 行级备注。主题色虚线
[data-node-id] span[data-type~=inline-memo] {
	background-color: transparent; // 覆盖备注样式本身的背景色，并且不会影响带背景色的文本
	border-bottom: medium dashed var(--b3-theme-primary);
}

// 原生样式
[data-node-id] {
	[data-type~=sup],
	[data-type~=sub] {
		position: relative;
		font-size: 75%;
		line-height: 0;
		vertical-align: baseline;
	}

	[data-type~=sup] {
		top: -.5em;
	}

	[data-type~=sub] {
		bottom: -.25em;
	}

	[data-type~=em] {
		font-style: italic;
		color: var(--b3-protyle-inline-em-color);
	}

	[data-type~=s] {
		color: var(--b3-protyle-inline-s-color) !important; // 删除线下的文本始终变淡
		text-decoration: line-through;
	}
	
	[data-type~=strong] {
		font-weight: bold;
	}
}

// 已完成的任务列表项中的删除线文本变得更淡，只影响列表项第一层子块
.protyle-task--done > [data-node-id] > [spellcheck] > span[data-type~=s] {
	color: color-mix(in srgb, var(--b3-protyle-inline-s-color) 75%, transparent) !important;
}

// 行级标签。
[data-node-id] span[data-type~=tag] {
	color: var(--b3-protyle-inline-tag-color); // 在大纲中也显示默认颜色

	// 行级标签前添加井号。
	// 使用零宽连字（zero-width joiner，ZWJ）避免在井号后换行，但只在导出时有效，因为 protyle 中的行级标签前有零宽空格导致换行
	&::before {
		content: "#\200D";
	}
}

.protyle-wysiwyg [data-node-id] span[data-type~=tag] {
	border-bottom: unset;
	transition: unset;

	// 只在编辑器中显示标签的 hover 样式
	&:hover {
		background-color: var(--b3-card-success-background);
		border-radius: var(--b3-border-radius-s);
	}
}

// 行级代码 Part 1
.b3-typography, .protyle-wysiwyg [data-node-id], [data-node-id] {
	// code.hljs 是导出预览或集市 README 的代码块
	code:not(.hljs), span[data-type~=code] {
		margin: 0 1px;
	}
}

code:not(.hljs), span[data-type~=code] {
	padding: .2em .4em;
	font-size: 85%;
	border-radius: var(--b3-border-radius);
	word-break: break-word;
	background-size: 20px 20px;
	white-space: pre-wrap;
	background-color: var(--b3-protyle-code-background);
}

// 键盘
.b3-typography kbd,
.b3-typography span[data-type~=kbd],
.protyle-wysiwyg [data-node-id] span[data-type~=kbd],
[data-node-id] span[data-type~=kbd] {
	margin: 0 1px;
	color: var(--b3-theme-on-background);
	vertical-align: unset;
	background-color: var(--b3-theme-surface);
	border: solid 1px var(--b3-theme-surface-lighter);
	box-shadow: inset 0 -1px 0 var(--b3-theme-surface-lighter);

	font-variant-numeric: tabular-nums;
	font-variant-ligatures: no-common-ligatures;
	font-size: .9em;
	font-family: var(--b3-font-family-kbd);
}

// 下划线
.b3-typography u,
.b3-typography span[data-type~=u],
.protyle-wysiwyg [data-node-id] span[data-type~=u],
[data-node-id] span[data-type~=u] {
	&, &:hover {
		border-bottom: 0.1em solid;
	}
}

// 超链接
a:hover {
	text-decoration: none;
}

a, // 全局的链接都使用同样的颜色
.b3-typography span[data-type~=a],
.protyle-wysiwyg [data-node-id] span[data-type~=a],
[data-node-id] span[data-type~=a]  {
	color: var(--b3-protyle-inline-link-color);
	opacity: 1;
	transition: unset;
}

a,
.b3-typography span[data-type~=a]:not([data-type~=u]),
.protyle-wysiwyg [data-node-id] span[data-type~=a]:not([data-type~=u]),
[data-node-id] span[data-type~=a]:not([data-type~=u])  {
	border-bottom: unset;
}

// 虚拟引用
.protyle-wysiwyg [data-node-id] span[data-type~=virtual-block-ref] {
	transition: unset;
}


.protyle-wysiwyg [data-node-id], [data-node-id] {
	// 块引、数据库块引下划线
	span[data-type~=block-ref]:not(.av__celltext),
	.av__celltext--ref {
		opacity: 1;
		border-bottom: 0.15em solid var(--wh-color-blue-light); // 用 box-shadow 的话会跟标记样式冲突，所以用 border-bottom 直接覆盖下划线样式
		transition: unset;
	}
	// 块引用静态锚文本用虚线下划线
	span[data-type~=block-ref][data-subtype="s"]:not(.av__celltext),
	.av__celltext--ref[data-subtype="s"] { // TODO跟进 数据库的锚文本类型是写死的，需要修复 https://github.com/siyuan-note/siyuan/issues/13889
		border-bottom: 0.15em dashed var(--wh-color-blue-light);
	}

	// PDF 标注
	span[data-type~=file-annotation-ref] {
		color: var(--b3-protyle-inline-fileref-color);
		opacity: 1;
		transition: unset;
	}
}

.b3-typography, .protyle-wysiwyg [data-node-id] {
	.img {
		img {
			border-radius: var(--b3-border-radius);
			box-shadow: 0 0 2px var(--b3-scroll-color);
		}

		// 隐藏空标题
		// TODO跟进 等待 https://github.com/siyuan-note/siyuan/pull/18177 合并后可以删掉这个样式
		.protyle-action__title {
			padding: 0;

			& > span {
				padding: 4px 0;

				&:empty {
					display: none;
				}
			}
		}
	}
}

html[data-theme-mode="light"] {
	--wh-hover-text-shadow: 0px 0px 1px color-mix(in srgb, var(--b3-theme-on-background) 30%, transparent);
}

html[data-theme-mode="dark"] {
	--wh-hover-text-shadow: 0px 0px 1px color-mix(in srgb, var(--b3-theme-on-background) 50%, transparent);
}

a,
.b3-typography span[data-type~=a],
.protyle-wysiwyg [data-node-id] span[data-type~=a],
.protyle-wysiwyg [data-node-id] span[data-type~=file-annotation-ref],
.protyle-wysiwyg [data-node-id] span[data-type~=block-ref]:not(.av__celltext) ,
.protyle-wysiwyg [data-node-id] .av__celltext--ref {
	// hover 样式：鼠标悬浮时颜色变深。排除大纲面板
	&:hover {
		text-shadow: var(--wh-hover-text-shadow); // 代替 opacity 变化
	}
}

@mixin half-height-bg($n, $full: false) {
	span[style*="background-color: var(--b3-font-background#{$n})"] {
		background-color: transparent !important;
		@if $full {
			background: linear-gradient(to bottom, var(--b3-font-background#{$n}) 0%, var(--b3-font-background#{$n}) 100%) center bottom / 100% no-repeat;
		} @else {
			background: linear-gradient(to bottom, var(--b3-font-background#{$n}) 0%, var(--b3-font-background#{$n}) 100%) center bottom / 100% .6em no-repeat;
		}
	}
}

// 半高背景色（features.text_half_bg）。
// 仅在编辑器里显示；导出预览不支持复制该样式粘贴到其他平台，所以直接不显示半高背景色
html[data-whisper-text-half-bg] .protyle-wysiwyg [data-node-id] {
	@for $i from 1 through 12 {
		@include half-height-bg($i);
	}

	// 反色保留全高
	@include half-height-bg(13, $full: true);

	// 行级代码 Part 2
	// 保留行级代码的背景色，只有当行级代码设置了内联背景色为 --b3-card 系列时才不覆盖
	span[data-type~=code]:not([style*="background-color: var(--b3-card"]) {
		background-color: var(--b3-protyle-code-background) !important;
	}
}