// 暗黑基础配色 map

$dark-base-appearance: (
  // 自定义、混合
  wh-theme-on-shadow-color-alpha: .5,
  wh-img-shadow-color: rgb(255 255 255 / 30%),

  wh-database-background13: rgb(87, 87, 87),    // 浅灰色
  wh-database-background14: rgb(131, 131, 131), // 深灰色
  wh-list-hover-dark: rgba(206, 206, 206, .15),
  wh-list-hover-darker: rgba(206, 206, 206, .25),
  wh-toggle-hover: #f5f5f5,
  mix-theme_primary_background: rgb(56, 60, 45),      // --b3-theme-primary-lightest rgb(154, 147, 0, .12) & --b3-theme-background rgb(43, 48, 51)
  mix-theme-background_scroll-color: rgb(62, 66, 69), // --b3-theme-background: rgb(43, 48, 51) & --b3-scroll-color: rgba(230, 230, 230, .1)

  // 主色
  b3-theme-primary: rgb(152, 146, 0),
  b3-theme-primary-light: rgba(165, 157, 51, .54),
  b3-theme-primary-lighter: rgba(165, 157, 51, .38),
  b3-theme-primary-lightest: rgba(154, 147, 0, .12),
  b3-theme-secondary: rgb(171, 123, 43),
  b3-theme-background: rgb(43, 48, 51),
  b3-theme-background-light: rgb(70, 75, 77),
  b3-theme-surface: rgb(55, 60, 63),
  b3-theme-surface-light: rgba(41, 42, 45, .86),
  b3-theme-surface-lighter: rgba(230, 230, 230, .12),
  b3-theme-error: #d23f31,
  b3-theme-success: #65b84d,

  // 文字颜色（与默认主题值一致）
  b3-theme-on-primary: #fff,
  b3-theme-on-secondary: #fff,
  b3-theme-on-background: rgb(218, 218, 218),
  b3-theme-on-surface: #9aa0a6,
  b3-theme-on-surface-light: rgb(186, 186, 186),
  b3-theme-on-error: #fff,

  // 线条
  b3-border-color: #595858,

  // 滚动条
  b3-scroll-color: rgba(230, 230, 230, .1), // 原来是 rgba(230, 230, 230, .2)

  // 列表（与默认主题值一致）
  b3-list-hover: rgba(255, 255, 255, .075),
  b3-list-icon-hover: rgba(201, 209, 217, .1),

  // 提示
  b3-tooltips-shadow: 0 2px 8px rgba(0, 0, 0, .3),

  // 为空提示（占位符文本）（与默认主题var一致）
  b3-empty-color: var(--b3-theme-on-surface),

  // 遮罩（与默认主题值一致）
  b3-mask-background: rgba(10, 10, 10, .4),

  // 卡片背景
  b3-card-error-color: rgb(243, 153, 147),
  b3-card-error-background: rgb(94, 36, 30),
  b3-card-warning-color: rgb(255, 213, 153),
  b3-card-warning-background: rgb(88, 86, 25),
  b3-card-info-color: rgb(166, 213, 250),
  b3-card-info-background: rgb(44, 73, 107),
  b3-card-success-color: rgb(155, 243, 159),
  b3-card-success-background: rgb(52, 104, 67),

  // 自定义文字（文本色是明亮模式上下互换，背景色浅色比明亮模式低160左右、深色比明亮模式低100左右）
  b3-font-color1: rgb(216, 57, 49),        // 红
  b3-font-color2: rgb(222, 120, 2),        // 橙
  b3-font-color3: rgb(189, 198, 12),       // 黄
  b3-font-color4: rgb(130, 197, 123),      // 绿
  b3-font-color5: rgb(149, 150, 249),      // 蓝
  b3-font-color6: rgb(192, 78, 234),       // 紫
  b3-font-color7: rgb(216, 133, 129),      // 浅红
  b3-font-color8: rgb(217, 154, 81),       // 浅橙
  b3-font-color9: rgb(255, 216, 78),       // 浅黄
  b3-font-color10: rgb(183, 237, 177),     // 浅绿
  b3-font-color11: rgb(186, 206, 253),     // 浅蓝
  b3-font-color12: rgb(222, 109, 255),     // 浅紫
  b3-font-background1: rgb(93, 66, 66),    // 浅红
  b3-font-background2: rgb(94, 74, 50),    // 浅橙
  b3-font-background3: rgb(95, 95, 44),    // 浅黄
  b3-font-background4: rgb(57, 85, 54),    // 浅绿
  b3-font-background5: rgb(65, 74, 95),    // 浅蓝
  b3-font-background6: rgb(66, 55, 87),    // 浅紫
  b3-font-background7: rgb(151, 91, 88),   // 红
  b3-font-background8: rgb(154, 112, 64),  // 橙
  b3-font-background9: rgb(155, 152, 63),  // 黄
  b3-font-background10: rgb(83, 137, 77),  // 绿
  b3-font-background11: rgb(86, 106, 153), // 蓝
  b3-font-background12: rgb(105, 78, 150), // 紫

  // 下拉菜单（与默认主题值一致）
  b3-select-background: url("data:image/svg+xml;utf8,<svg fill='rgba(154, 160, 166, .68)' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>") no-repeat right 2px center var(--b3-theme-background),

  // switch
  b3-switch-background: #444746,
  b3-switch-hover: rgba(253, 252, 251, .10),
  b3-switch-checked-hover: var(--b3-theme-primary),
  b3-switch-checked-hover2: rgba(253, 252, 251, .10),

  // 阴影（与默认主题值一致）
  b3-point-shadow: "inset 0 .5px .5px .5px rgba(255, 255, 255, .09), 0 3px 6px rgba(0, 0, 0, .04), 0 0 0 0 transparent",
  b3-dialog-shadow: 0 8px 24px #010409,

  // 代码片段背景（与默认主题值一致）
  b3-protyle-code-background: rgba(240, 246, 252, .15),

  // 所见即所得行内元素颜色
  b3-protyle-inline-s-color: rgb(95, 95, 95),
  b3-protyle-inline-link-color: rgb(66, 133, 244),
  wh-protyle-inline-link-color-alpha: .5,
  b3-protyle-inline-link-s-color: rgb(43, 97, 186),
  b3-protyle-inline-mark-background: rgba(191, 191, 22, .5), // 原来是 #b29100
  b3-protyle-inline-fileref-color: rgb(158, 218, 158), // 原来是 var(--b3-theme-secondary)
  b3-protyle-inline-fileref-s-color: rgb(85, 119, 85),

  // PDF
  // TODO跟进 https://github.com/siyuan-note/siyuan/issues/14065 修改
  b3-pdf-selection: rgb(119, 145, 112),
  b3-pdf-background1: rgb(183, 14, 3),
  b3-pdf-background2: rgb(214, 101, 19),
  b3-pdf-background3: rgb(158, 178, 67),
  b3-pdf-background4: rgb(0, 137, 5),
  b3-pdf-background5: rgb(178, 95, 118),
  b3-pdf-background6: rgb(11, 106, 195),
  b3-pdf-background7: rgb(154, 70, 177),

  // 表格（与默认主题值一致）
  b3-table-even-background: rgba(255, 255, 255, .03),

  // 数据库（与默认主题值一致）
  b3-av-gallery-shadow: "rgba(255, 255, 255, .04) 0px 2px 4px 0px, var(--b3-border-color) 0px 0px 0px 1px",
);