/* ————————————————————编辑区———————————————————— */

/* ————————————————————行级元素———————————————————— */
/* TODO 调整样式的时候分屏看 所见即所得 和 导出预览 模式，有的情况下需要不同的样式 */

/* 行级备注。主题色虚线 CSS片段 https://github.com/TCOTC/siyuan-css-dashed-line-memo */
.b3-typography span[data-type~=inline-memo], .protyle-wysiwyg span[data-type~=inline-memo] {
	background-color: unset;
	border-bottom: 2px dashed var(--b3-theme-primary);
}

/* 行级标签 */
.protyle-wysiwyg span[data-type="tag"] {
	font-size: 90%;
	border-radius: var(--b3-border-radius-s);
	padding:0 6px 2px 6px;
	color: var( --b3-theme-on-background)!important;
	border-bottom:none !important;
	background-color:var(--b3-font-background7);
}
.protyle-wysiwyg span[data-type="tag"]::before{
	content: "#";
}
.export-img span[data-type="tag"]::before{
	content: "";
}

/* ————————————————————滚动条———————————————————— */

.av:not(:hover) > .av__container > .av__scroll {
	--b3-scroll-color: transparent; /* 数据库块未 hover 时隐藏横向滚动条 */
}
/* TODO 侧栏未 hover 时隐藏滚动条（编辑器的滚动条始终保留） */

/* ————————————————————编辑器顶部———————————————————— */

/* 文档标题 */
.protyle-title {
	margin-top: 0 !important;
}

/* 头图、图标、标签 */
.protyle-background__ia {
	display: flex; /* TODO 用 flex 布局重写 */
	margin-top: 0 !important;

	.protyle-background__icon {
		margin-top: 0 !important;
		margin-bottom: 0;
		border-radius: 5px;
		font-size: 60px;

		&:hover {
			background-color: var(--b3-list-hover);
			opacity: 1;
		}

		&:not(.fn__none) {
			&+ .b3-chips__doctag {
				margin-left: 80px;
				margin-top: -34px;
				transform: none;

				&+ .protyle-background__action {
					margin-left: 80px;
					margin-top: -34px;
					transform: none;
				}
			}
		}
	}

	.b3-chips__doctag {
		&:not(.fn__none) {
			&+ .protyle-background__action {
				margin-top: 5px;
			}
		}
	}

	.b3-button {
		&:hover {
			opacity: 1;
		}

		svg {
			width: 12px;
			opacity: 0.6;
		}
	}
}


/* 文档标签 */
.protyle-background__ia {
	.b3-chips__doctag {
		&>.b3-chip {
			background-color: var(--b3-card-success-background) !important;
			color: var(--b3-card-success-color) !important;
			margin: 3px;
			border-radius: var(--b3-border-radius-s);
			padding: 0 6px 1px;
			font-size: 90%;

			&::before {
				content: "#";
				width: 10px;
				height: 22px;
				align-content: center;
				font-size: 1.1em;
			}

			.b3-chip__close {
				width: 0;
			}

			&:hover {
				.b3-chip__close {
					width: 14px;
				}
			}
		}

		.b3-button {
			width: 23px;
			height: 23px;
			font-size: 0;
			opacity: 0.6;
			border-radius: var(--b3-border-radius-s);
			margin-bottom: inherit !important;

			＆[data-type="tag"] {
				margin-left: 2px;
			}

			&:hover {
				opacity: 1;
			}

			svg {
				margin-right: 0;
				background-color: transparent;
				color: var(--b3-theme-on-background);
			}
		}

		.fn__space {
			width: 2px;
		}
	}
}



/* 文档引用计数 */
.protyle-title .protyle-attr--refcount {
	color: var(--b3-theme-on-error);
	background-color: var(--b3-theme-primary);
}

#layouts div.layout__center div.protyle-content:not([data-fullwidth="true"]) div.protyle-wysiwyg {
	padding-bottom: 70vh !important; /* 更改编辑器底部高度 */
}


/* ————————————————————内容块———————————————————— */

/* 给被引用的块增加虚线外框 CSS片段 */
/* author by JeffreyChen https://ld246.com/article/1728407192369 */
.protyle-wysiwyg [data-node-id][refcount] {
	outline: 2px dashed rgba(255, 165, 0, .5); /* 橙色虚线 */
}
[data-type="NodeBlockQueryEmbed"] [data-node-id][refcount] {
	outline: none; /* 嵌入块内部不显示 */
}

/* ————————————————————标题块———————————————————— */

/* 在标题前添加数字标识 */
/* 用:not(#preview)排除导出PDF，用.protyle-wysiwyg排除导出预览 */
div:not(#preview) > .protyle-wysiwyg div {
	&[data-subtype^="h"] > div:first-child {
		padding-left: 10px;

		&::before {
			font-size: 0.65em;
			font-weight: 200;
			color: rgba(0,0,0,.45);
			position: absolute; /* 使用绝对定位 */
			transform: translateY(44%);
			left: 0;
		}
	}

	&[data-subtype="h1"] > div:first-child::before {
		content: "1";
	}

	&[data-subtype="h2"] > div:first-child::before {
		content: "2";
	}

	&[data-subtype="h3"] > div:first-child::before {
		content: "3";
	}

	&[data-subtype="h4"] > div:first-child::before {
		content: "4";
	}

	&[data-subtype="h5"] > div:first-child::before {
		content: "5";
	}

	&[data-subtype="h6"] > div:first-child::before {
		content: "6";
	}
}


/* ————————————————————代码块———————————————————— */

/* 缩短代码块上下边距，更紧凑 */
/* TODO https://github.com/siyuan-note/siyuan/pull/13564 PR 合并后需要移除这部分 */
.b3-typography .code-block:not(pre),
.protyle-wysiwyg .code-block:not(pre) {
    margin-top: 6px;
    margin-bottom: 6px;
}

/* 代码块滚动时语言和按钮固定在编辑器顶部 CSS片段 */
/* author by JeffreyChen https://ld246.com/article/1728146248791 */
.b3-typography div.hljs, .protyle-wysiwyg div.hljs {
    padding-top: 0;
}
.protyle-wysiwyg[contenteditable] .code-block .protyle-action {
	background-color: var(--b3-theme-background);
    position: sticky;
    top: 0;
}
.protyle-wysiwyg[contenteditable] .code-block .protyle-action::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--b3-protyle-code-background);
    pointer-events: none;
}

/* 始终显示设置的代码块语言 */
.b3-typography .code-block:not(pre):not(:hover) .protyle-action__language,
.protyle-wysiwyg .code-block:not(pre):not(:hover) .protyle-action__language {
    opacity: .86;
}
/* 只有 hover 代码块时才显示代码块语言占位符 */
.protyle-wysiwyg[data-readonly=false] .code-block:not(:hover) .protyle-action .protyle-action__language:empty::after {
	opacity: 0;
}
/* 代码块语言的左边与代码对齐 */
/* TODO 跟进 https://github.com/siyuan-note/siyuan/pull/13564 ，如果 PR 合并的话就可以删掉这部分了 */
.protyle-action__language {
    position: absolute;
    left: 1em;
}


/* ————————————————————数据库———————————————————— */

.av__container .b3-chip {
	color: var(--b3-theme-on-background) !important; /* 选项字体用默认色 */
}

.av__container .av__row:hover .av__firstcol svg {
	opacity: 1; /* hover 条目时显示条目的复选框 */
}

/* Notion 样式的数据库 CSS片段 */
.av__container {
	width: 100%;

	.av__body {
		min-width: 100%;

		.av__row--header {
			.block__icons {
				padding: unset;
				flex-direction: row; /* "添加字段"和"更多"按钮调换顺序 */
				flex-grow: 1;
				align-items: stretch; /* 使子元素在垂直方向上填满父容器 */

				.block__icon {
					border-radius: unset;
					padding: 0 10px;

					&:nth-child(1) {
						order: 2; /* "更多"按钮放在右边铺满 */
						flex-grow: 1;
					}

					&:nth-child(3) {
						order: 1; /* "添加字段"按钮放在左边 */
					}
				}

				>.fn__space {
					display: none;
				}
			}
		}

		.av__row--util {
			.av__colsticky {
				width: 100%;
				flex-direction: column; /* "添加条目"和"加载更多"按钮分成两行显示 */

				>.b3-button {
					border-radius: unset;
					margin: unset;
					padding: unset;
					height: 2.7em;
					justify-content: flex-start;
					border-bottom: 1px solid var(--b3-theme-surface-lighter);

					span {
						position: sticky;
						left: 2em;
					}

					svg {
						position: sticky;
						left: 0.5em;

						&[data-type="set-page-size"] {
							margin-left: auto;
							padding: 2px 6px;
							right: 5px;

							&:hover {
								background-color: var(--b3-list-hover);
							}
						}
					}
				}

				> .b3-button:first-of-type {
					order: 2; /* "添加条目"按钮放在下方 */
				}

				> .b3-button:last-of-type {
					order: 1; /* "加载更多"按钮放在上方 */
				}

				>.fn__space {
					display: none;
				}
			}
		}

		.av__row--footer {
			border-top: unset;
		}
	}
}


/* 选择和 hover 条目时的高亮 */
.av__row--select:not(.av__row--header) .av__cell,
.av__row--hl:not(.av__row--header) .av__cell {
    background-color: unset; /* 重置原生的背景色 */
}
.av__row--select:not(.av__row--header),
.av__row--select:not(.av__row--header) .av__colsticky .av__firstcol,
.av__row--select:not(.av__row--header) .av__colsticky .av__cell,
.av__row--hl:not(.av__row--header),
.av__row--hl:not(.av__row--header) .av__colsticky .av__firstcol,
.av__row--hl:not(.av__row--header) .av__colsticky .av__cell {
    background-color: var(--b3-theme-primary-lightest); /* TODO 这个颜色太深了，换成侧栏面板的颜色 */
}

.av__row:not(.av__row--header):hover,
.av__row:not(.av__row--header):hover .av__colsticky .av__firstcol,
.av__row:not(.av__row--header):hover .av__colsticky .av__cell {
	background-color: var(--b3-list-hover);
}
.av__row--select:not(.av__row--header):hover,
.av__row--select:not(.av__row--header):hover .av__colsticky .av__firstcol,
.av__row--select:not(.av__row--header):hover .av__colsticky .av__cell,
.av__row--hl:not(.av__row--header):hover,
.av__row--hl:not(.av__row--header):hover .av__colsticky .av__firstcol,
.av__row--hl:not(.av__row--header):hover .av__colsticky .av__cell {
	background-color: var(--mix-theme_primary_lightest-list-hover);
}

/* 数据库角标文本颜色 */
/* TODO 感觉只改文本颜色不太好看，还要再想想 */
.protyle-attr--av > span{
	display: contents;
	font-weight: 500;
}
.protyle-attr--av > span:nth-child(4n+1) {
	color: var(--b3-card-success-color);/* 每组的第1个 */
	background-color: var(--b3-card-success-background);
}
.protyle-attr--av > span:nth-child(4n+2) {
	color: var(--b3-card-info-color); /* 每组的第2个 */
	background-color: var(--b3-card-info-background);
}
.protyle-attr--av > span:nth-child(4n+3) {
	color: var(--b3-card-warning-color); /* 每组的第3个 */
	background-color: var(--b3-card-warning-background);
}
.protyle-attr--av > span:nth-child(4n) {
	color: var( --b3-card-error-color); /* 每组的第4个 */
	background-color: var(--b3-card-error-background);
}


/* 列表 */
.protyle-wysiwyg [data-node-id].li:has(.block-focus) > .protyle-action {
	color: var(--b3-theme-primary);
}
.protyle-wysiwyg [data-node-id].li[fold="1"]:has(.block-focus) > .protyle-action::after {
	background-color: var(--b3-theme-primary-lighter);
}

/* 折叠的列表项 */
.protyle-wysiwyg [data-node-id].li[fold="1"] > .protyle-action::after {
	background-color: var(--custom-list-hover-dark);
}
.protyle .protyle-wysiwyg .li[data-subtype=o] > .protyle-action:hover::after,
.protyle .protyle-wysiwyg .li[data-subtype=u] > .protyle-action:hover::after,
.protyle .protyle-wysiwyg[data-readonly=false] .li[data-subtype=t] > .protyle-action:hover::after {
	background-color: var(--custom-list-hover-darker);
}
/* TODO 任务列表要用方形 */

.protyle-wysiwyg [data-node-id].li[data-subtype="o"][fold="1"]>.protyle-action::after {
	left: unset; /* 有序列表 */
	width: 100%;
}

/* TODO 折叠的标题前的圆点也不好看，要改一下 */