// 停靠栏
// .file-tree 也存在于大纲/反链页签中，改动之后要检查样式是否对其子元素有不必要的影响

@use "toolbar" as toolbar;
@use "status" as status;

.file-tree > .fn__flex-1 {
	scrollbar-gutter: stable;

	&>.b3-list .b3-list-item {
		&[data-type="navigation-root"], // 文档树-笔记本
		&[data-type="navigation-file"], // 文档树-文档
		&[data-treetype] { // 大纲、标签、书签、反链
			margin-right: 0;

			// 面板选项的折叠按钮
			.b3-list-item__toggle.b3-list-item__toggle--hl:hover {
				background-color: unset;
				color: var(--b3-theme-on-background);
			}
		}
	}
}

// 左右浮动停靠栏：四角圆角 + 高度填满编辑区（与底部浮动停靠栏一致）
.layout--float {
	&.layout__dockl,
	&.layout__dockr {
		border-radius: var(--b3-border-radius-b);
		top: toolbar.$toolbar-height;
		bottom: status.$status-height;

		body.body--toolbar-hide & {
			top: toolbar.$toolbar-height--hide;
		}

		html[data-whisper-status="hide"] & {
			bottom: var(--b3-layout-space);
		}
	}
}

// ————————————————————文档树————————————————————

// 在达到 max-height 之前，高度由已关闭的笔记本的数量决定
.sy__file > .b3-list {
	height: unset !important;
	max-height: 40%;
}

// ———————————————————大纲面板———————————————————

// 大纲上的文档计数对齐下面的标题计数
.sy__outline > .b3-list-item .counter {
	margin-right: 2px;
}

// ————————————————反链、提及面板————————————————

// 反链、提及面板固定文档名称
// 原始 CSS 片段 https://ld246.com/article/1737207365006
// TODO跟进 需要跟进 https://github.com/siyuan-note/siyuan/issues/13679 修改
// [data-treetype] 匹配反链/提及中的文档名称元素
:is(.backlinkMList, .backlinkList) .b3-list-item[data-treetype] {
	position: sticky;
	top: 0;
	margin-top: 0; // 跟 top: 0 配合
	padding-left: 0;
	background-color: var(--b3-theme-background) !important;
	border-radius: unset;
	z-index: 4; // 高于选中块的伪元素高亮

	.b3-list-item__toggle--hl::before {
		// 折叠按钮热区拓展到面板边界
		left: -8px;
  }

	&:hover {
		&::after {
			content: "";
			position: absolute;
			height: 100%;
			width: 100%;
			background-color: var(--b3-list-hover);
			border-radius: var(--b3-border-radius);
			pointer-events: none;
		}
	}
}