// ————————————————————编辑区————————————————————
// 备注：调整样式的时候分屏看 所见即所得 和 导出预览 模式，有的情况下需要不同的样式

// ————————————————————行级元素————————————————————
// 在编辑器里和属性面板里，行级元素的上层都有 [data-node-id]

// NOTE 这些样式需要跟进原生样式的变更
// .b3-typography导出预览，[data-node-id]导出PDF/图片/大纲面板，.protyle-wysiwyg编辑器
:is(.b3-typography, [data-node-id], .protyle-wysiwyg [data-node-id]) {
	// 行级标记。放在最前面用于覆盖原生的颜色
	mark,
	span[data-type~=mark] {
		background-color: transparent; // 覆盖标记样式本身的背景色，并且不会影响带背景色的文本
		box-shadow: 0 -0.7em 0 0 inset var(--b3-protyle-inline-mark-background), var(--wh-inline-box-shadow) var(--b3-protyle-inline-mark-background); // 添加透明度，避免完全覆盖文本背景色

		&.mark--hl {
			background-color: var(--b3-theme-primary-lighter);
			box-shadow: 0 0 0 .5px var(--b3-theme-on-background);
		}
	}
	// 反链匹配文本的高亮
	.def--mark {
		color: var(--b3-theme-on-background) !important;
		background-color: var(--b3-theme-secondary);
	}

	// 行级标记。放在最前面用于覆盖原生的颜色。主题色虚线 CSS片段 https://github.com/TCOTC/siyuan-css-dashed-line-memo
	span[data-type~=inline-memo] {
		background-color: transparent; // 覆盖备注样式本身的背景色，并且不会影响带背景色的文本
		border-bottom: medium dashed var(--b3-theme-primary);
	}

	span[data-type~=sup],
	span[data-type~=sub] {
		position: relative;
		font-size: 75%;
		line-height: 0;
		vertical-align: baseline;
	}

	span[data-type~=sup] {
		top: -.5em;
	}

	span[data-type~=sub] {
		bottom: -.25em;
	}

	em,
	span[data-type~=em] {
		font-style: italic;
		color: var(--b3-protyle-inline-em-color);
	}

	s,
	span[data-type~=s] {
		color: var(--b3-protyle-inline-s-color);
		text-decoration: line-through;
	}
	// 已完成的任务列表项
	.protyle-task--done > [data-node-id] > [spellcheck] > span[data-type~=s] {
		color: var(--wh-protyle-inline-s-color_50);
	}

	strong,
	span[data-type~=strong] {
		font-weight: bold;
	}

	// 行级标签。导出预览是纯文本所以没有行级标签样式
	span[data-type~=tag] {
		border-bottom: unset;
		transition: unset;
		color: var(--b3-protyle-inline-tag-color); // 在大纲中也显示默认颜色

		&:hover {
			background-color: var(--b3-card-success-background);
			border-radius: var(--b3-border-radius-s);

			// 在大纲中不显示标签的 hover 样式
			@at-root [data-treetype="outline"]#{&} {
				background-color: unset;
				border-radius: unset;
			}
		}

		&::before {
			content: "#\200D"; // 使用零宽连字（zero-width joiner，ZWJ）避免在井号后换行，但只在导出时有效，因为 protyle 中的行级标签前有零宽空格导致换行
		}
	}

	span[data-type~=inline-math] {
		user-select: text;
		display: inline;
	}

	// 行级代码 Part 1
	code:not(.hljs), span[data-type~=code] {
		padding: .2em .4em;
		margin: 0 1px;
		font-size: 85%;
		border-radius: var(--b3-border-radius);
		word-break: break-word;
		background-size: 20px 20px;
		white-space: pre-wrap;
	}

	// 键盘样式
	kbd,
	span[data-type~=kbd] {
		margin: 0 1px;
		color: var(--b3-theme-on-background);
		vertical-align: unset;
		background-color: var(--wh-protyle-kbd-background);
		border: solid 1px var(--wh-protyle-kbd-border-color);
		box-shadow: inset 0 -1px 0 var(--wh-protyle-kbd-border-color);

		font-variant-numeric: tabular-nums;
		font-variant-ligatures: no-common-ligatures;
		font-size: .9em;
		font-family: var(--b3-font-family-protyle), serif;
	}

	u {
		text-decoration: none;
		border-bottom: 1px solid;
	}

	// 下划线
	u,
	span[data-type~=u] {
		border-bottom: 0.1em solid;
	}

	a,
	span[data-type~=a] {
		color: var(--b3-protyle-inline-link-color);
		opacity: 1;
		transition: unset;

		&[data-type~=s] {
			color: var(--b3-protyle-inline-link-s-color); // 删除线下的文本变淡
		}

		&:hover {
			text-shadow: var(--wh-link-shadow); // 代替 opacity 变化
		}

		&:not([data-type~=u]):hover {
			border-bottom: unset; // 简约，不必要下划线
		}
	}

	// 虚拟引用
	span[data-type~=virtual-block-ref] {
		transition: unset;
	}

	// 块引、数据库块引下划线
	span[data-type~=block-ref]:not(.av__celltext),
	.av__celltext--ref {
		opacity: 1;
		border-bottom: 0.15em solid var(--wh-color-blue-light); // 直接覆盖下划线样式、box-shadow 跟标记样式冲突
		transition: unset;

		&:hover {
			text-shadow: var(--wh-theme-on-shadow); // 代替 opacity 变化
		}
	}
	span[data-type~=block-ref]:not(.av__celltext)[data-type~=s] {
		color: var(--b3-protyle-inline-s-color); // 删除线下的文本变淡
	}
	// 块引用静态锚文本用虚线下划线
	span[data-type~=block-ref][data-subtype="s"]:not(.av__celltext),
	.av__celltext--ref[data-subtype="s"] { // TODO跟进 数据库的锚文本类型是写死的，需要修复 https://github.com/siyuan-note/siyuan/issues/13889
		border-bottom: 0.15em dashed var(--wh-color-blue-light);
	}

	// PDF 标注
	span[data-type~=file-annotation-ref] {
		opacity: 1;
		transition: unset;

		&[data-type~=s] {
			color: var(--b3-protyle-inline-fileref-s-color); // 删除线下的文本变淡
		}

		&:hover {
			text-shadow: var(--wh-theme-on-shadow); // 代替 opacity 变化
		}
	}

	.img {
		img {
			border-radius: var(--b3-border-radius); // 图片圆角
			box-shadow: var(--wh-img-shadow);
		}

		.protyle-action__title:has(> span:empty) {
			display: none; // 隐藏空标题
		}
	}
}

// 不在导出预览中使用的样式
.protyle-wysiwyg [data-node-id] {
	// 半高背景色（导出预览不支持复制该样式）
	span[style*="background-color: var(--b3-font-background1)"] {
		background-color: transparent !important;
		background: linear-gradient(to bottom, var(--b3-font-background1) 0%, var(--b3-font-background1) 100%) center bottom / 100% .6em no-repeat;

	}

	span[style*="background-color: var(--b3-font-background2)"] {
		background-color: transparent !important;
		background: linear-gradient(to bottom, var(--b3-font-background2) 0%, var(--b3-font-background2) 100%) center bottom / 100% .6em no-repeat;
	}

	span[style*="background-color: var(--b3-font-background3)"] {
		background-color: transparent !important;
		background: linear-gradient(to bottom, var(--b3-font-background3) 0%, var(--b3-font-background3) 100%) center bottom / 100% .6em no-repeat;
	}

	span[style*="background-color: var(--b3-font-background4)"] {
		background-color: transparent !important;
		background: linear-gradient(to bottom, var(--b3-font-background4) 0%, var(--b3-font-background4) 100%) center bottom / 100% .6em no-repeat;
	}

	span[style*="background-color: var(--b3-font-background5)"] {
		background-color: transparent !important;
		background: linear-gradient(to bottom, var(--b3-font-background5) 0%, var(--b3-font-background5) 100%) center bottom / 100% .6em no-repeat;
	}

	span[style*="background-color: var(--b3-font-background6)"] {
		background-color: transparent !important;
		background: linear-gradient(to bottom, var(--b3-font-background6) 0%, var(--b3-font-background6) 100%) center bottom / 100% .6em no-repeat;
	}

	span[style*="background-color: var(--b3-font-background7)"] {
		background-color: transparent !important;
		background: linear-gradient(to bottom, var(--b3-font-background7) 0%, var(--b3-font-background7) 100%) center bottom / 100% .6em no-repeat;
	}

	span[style*="background-color: var(--b3-font-background8)"] {
		background-color: transparent !important;
		background: linear-gradient(to bottom, var(--b3-font-background8) 0%, var(--b3-font-background8) 100%) center bottom / 100% .6em no-repeat;
	}

	span[style*="background-color: var(--b3-font-background9)"] {
		background-color: transparent !important;
		background: linear-gradient(to bottom, var(--b3-font-background9) 0%, var(--b3-font-background9) 100%) center bottom / 100% .6em no-repeat;
	}

	span[style*="background-color: var(--b3-font-background10)"] {
		background-color: transparent !important;
		background: linear-gradient(to bottom, var(--b3-font-background10) 0%, var(--b3-font-background10) 100%) center bottom / 100% .6em no-repeat;
	}

	span[style*="background-color: var(--b3-font-background11)"] {
		background-color: transparent !important;
		background: linear-gradient(to bottom, var(--b3-font-background11) 0%, var(--b3-font-background11) 100%) center bottom / 100% .6em no-repeat;
	}

	span[style*="background-color: var(--b3-font-background12)"] {
		background-color: transparent !important;
		background: linear-gradient(to bottom, var(--b3-font-background12) 0%, var(--b3-font-background12) 100%) center bottom / 100% .6em no-repeat;
	}

	// 反色保留全高
	span[style*="background-color: var(--b3-font-background13)"] {
		background-color: transparent !important;
		background: linear-gradient(to bottom, var(--b3-font-background13) 0%, var(--b3-font-background13) 100%) center bottom / 100% no-repeat;
	}
	
	// 行级代码 Part 2
	code:not(.hljs), span[data-type~=code] {
		background-color: var(--b3-protyle-code-background); // 行级代码背景色为 --b3-card 系列时被错误覆盖，不能用 !important
	}
}

// ————————————————————滚动条————————————————————

// 动态滚动条
.protyle-scroll :is(.protyle-scroll__down, .protyle-scroll__up) {
	opacity: 1;
	color: var(--b3-scroll-color);

	&:hover {
		color: var(--wh-scroll-color_50);
	}
}
.protyle-scroll__bar .b3-slider {
	&::-webkit-slider-runnable-track {
		background-color: var(--b3-scroll-color);
	}

	&::-webkit-slider-thumb {
		background-color: var(--mix-theme-background_scroll-color);
	}

	// 兼容 Firefox
	&::-moz-range-track {
		background-color: var(--b3-scroll-color);
	}

	&::-moz-range-thumb {
		background-color: var(--mix-theme-background_scroll-color);
	}
}

// 滚动条的厚度保持为 10px，因为其他地方的布局已经考虑到了 10px 的滚动条；原生是 10px 就行了，这里不需要再写样式，否则会影响导出 PDF 的滚动条
// ::-webkit-scrollbar {
// width: 10px;
// height: 10px;
// }
::-webkit-scrollbar-thumb {
	background-clip: padding-box;
	border: 2px solid transparent;
}
::-webkit-scrollbar-thumb:hover {
	background-color: var(--wh-scroll-color_15);
	border-width: unset;
}

// 避免底栏遮挡
// .layout__resize--lr 是纵向的拖拽条，.layout__resize 是横向的拖拽条
// 右侧没有 .layout__resize--lr（纵向的拖拽条）、下方没有 .layout__resize（横向的拖拽条）的页签就是最靠右下方的页签（可以是多个页签）
html[data-whisper-status="show"] .layout__center {
	.fn__flex:not(:has(+ .layout__resize--lr)):not(:has(+ .layout__resize)) .layout-tab-container > .fn__flex-1 {
		// 右下角的编辑器，滚动条的底部需要留出底栏的高度，否则会被底栏挡住
		&.protyle .protyle-content, // 编辑器
		#viewerContainer {          // PDF 阅读器
			&::-webkit-scrollbar-track {
				margin-bottom: var(--wh-status-height);
			}
		}

		// 底栏会挡住右下角的 反链页签/大纲页签/闪卡按钮
		&.sy__backlink .backlinkList + .block__icons, // 反链页签
		&.sy__outline > .fn__flex-1, // 大纲页签
		.card__main .card__action {  // 闪卡按钮
			padding-bottom: var(--wh-status-height);
		}
	}

	// 多次分屏之后 .fn__flex 有可能形成多层嵌套，需要重置
	:is(.fn__flex:has(+ .layout__resize--lr), .fn__flex:has(+ .layout__resize)) .layout-tab-container > .fn__flex-1 {
		&.protyle .protyle-content, // 编辑器
		#viewerContainer {          // PDF 阅读器
			&::-webkit-scrollbar-track {
				margin-bottom: unset !important;
			}
		}

		&.sy__backlink .backlinkList + .block__icons, // 反链页签
		&.sy__outline > .fn__flex-1 { // 大纲页签
			padding-bottom: unset !important;
		}
		.card__main .card__action {   // 闪卡按钮
			padding-bottom: 8px !important;
		}
	}
}


// ————————————————————编辑器顶部————————————————————

// 文档标题
.protyle-title {
	margin-top: 0 !important;

	.protyle-title__input {
		font-size: 2.5em; // 文档标题字号
	}
}
.h1[title] {
	font-size: 2.5em; // 导出图片的文档标题字号
}

// 文档引用计数
.protyle-title .protyle-attr--refcount {
	color: var(--b3-theme-on-error);
	background-color: var(--b3-theme-primary);
}

// 有文档图标的情况
.protyle-background__ia:has(> .protyle-background__icon:not(.fn__none)) {
	display: grid;
	grid-template-columns: auto 1fr; // 两列
	grid-template-rows: 1fr auto; // 两行
	justify-self: start; // 靠左

	// 左侧文档图标
	.protyle-background__icon {
		grid-column: 1;
		grid-row: 1 / span 2; // 跨两行
	}

	// 右上操作按钮
	&>.protyle-background__action {
		grid-column: 2;
		grid-row: 1;
		align-self: end; // 靠近底部
		margin-left: 4px;
	}

	// 右下文档标签
	.b3-chips__doctag {
		grid-column: 2;
		grid-row: 2;
		align-self: end; // 靠近底部
		margin-left: 4px;
	}
}

// 无文档图标的情况
.protyle-background__ia:has(> .protyle-background__icon.fn__none) {
	display: flex;
	flex-direction: row; // 水平排列
	align-items: center; // 垂直居中
	gap: 4px; // 间隙
	justify-content: start; // 靠左
}

// 添加或移除题头图时文档不抖动
.protyle-content--transition .protyle-background__ia {
	transition: margin-left 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0ms,
	margin-right 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0ms !important;
}

.protyle-background {
	margin-bottom: 14px;

	.protyle-background__img {
		margin: 0 !important;

		&:not(.fn__none) + .protyle-background__ia {
			margin-top: -52px;
		}
	}

	.protyle-background__ia {
		// 文档图标
		.protyle-background__icon {
			margin: 3px 0 !important;
			height: 81px; // 23*3+3*4
			width: 81px;
			border-radius: var(--b3-border-radius);
			font-size: 60px;

			@at-root .protyle-background--enable#{&} {
				// 非只读模式下才需要这个 hover 样式
				&:hover {
					background-color: var(--b3-list-hover);
					opacity: 1;
				}
			}

			&:not(.fn__none) {
				&+ .b3-chips__doctag {
					transform: none;
				}
			}
		}

		// 文档标签
		.b3-chips__doctag {
			height: auto;
			position: relative;

			&>.b3-chip {
				height: 23px;
				background-color: var(--b3-card-success-background) !important;
				color: var(--b3-card-success-color) !important;
				margin: 3px;
				border-radius: var(--b3-border-radius);
				padding: 0 6px 1px;
				font-size: 90%;

				&::before {
					content: "#\200D";
					width: 11px;
					padding-left: 0.25em;
					opacity: 1;
					transition: width var(--wh-transition), opacity var(--wh-transition);
				}

				.b3-chip__close {
					width: 3px;
					opacity: 0;
					transition: width var(--wh-transition), opacity var(--wh-transition);
				}

				@at-root .protyle-background--enable#{&} {
					// 非只读模式下才需要这个 hover 样式
					&:hover {
						&::before {
							opacity: 0;
							width: 0;
						}
	
						.b3-chip__close {
							transition: width var(--wh-transition);
							width: 14px;
							opacity: 0.68;
						}
					}
				}
			}

			.b3-button {
				width: 23px;
				height: 23px;
				font-size: 0;
				opacity: 0.6;
				border-radius: var(--b3-border-radius);
				margin: 3px !important;

				＆[data-type="tag"] {
					margin-left: 2px;
				}

				&:hover {
					opacity: 1;
				}

				svg {
					opacity: 0.6;
					width: 12px;
					margin-right: 0;
					background-color: transparent;
					color: var(--b3-theme-on-background);
				}
			}

			.fn__space {
				width: 2px;
			}
		}

		@at-root .protyle-background--enable#{&} {
			// 非只读模式下才显示按钮
			// 操作按钮
			&>.protyle-background__action {
				display: flex;

				.b3-button {
					height: 23px;
					margin: 3px;
					padding: 4px;
				}
			}
		}
	}
}

#layouts div.layout__center div.protyle-content:not([data-fullwidth="true"]) div.protyle-wysiwyg {
	padding-bottom: 70vh !important; // 更改编辑器底部高度
}


// ————————————————————内容块————————————————————

// 内容块拖影 https://github.com/siyuan-note/siyuan/pull/13821
// 用 :not(#preview) 来排除导出的 HTML
body > .protyle-wysiwyg:not(#preview) [data-node-id] {
	background-color: transparent !important;

	&:is(.protyle-wysiwyg--select, .protyle-wysiwyg--hl)::after {
		display: none;
	}
}

// 引述块和其中的行级元素，都变灰色
.b3-typography blockquote, .b3-typography .bq, .protyle-wysiwyg blockquote, .protyle-wysiwyg .bq {
	color: var(--b3-theme-on-surface);
	background-color: var(--b3-bq-background);

	span[data-type~=kbd] {
		color: var(--b3-theme-on-surface);
		border: solid 1px var(--wh-protyle-kbd-border-color_30);
		box-shadow: inset 0 -1px 0 var(--wh-protyle-kbd-border-color_30);
	}
}

// 分隔线
.protyle-wysiwyg [data-node-id].hr > div {
	height: unset; // 兼容 https://github.com/siyuan-note/siyuan/pull/15701 前的旧版本样式
	min-height: 1.625em;

	&::after {
		height: calc(3em / 16);
		top: calc(1.625em / 2 - (3em / 16) / 2); // 居中，与块标对齐
	}
}
.b3-typography hr {
	border-bottom-width: .2em;
	position: relative;
}

// 给被引用的块增加虚线外框 CSS片段
// author by JeffreyChen https://ld246.com/article/1728407192369
.protyle-wysiwyg [data-node-id][refcount] {
	outline: 2px dashed rgba(255, 165, 0, .5); // 橙色虚线
}
[data-type="NodeBlockQueryEmbed"] [data-node-id][refcount] {
	outline: none; // 嵌入块内部不显示
}

// 凸显闪卡
.protyle-wysiwyg .list[data-node-id][custom-riff-decks],
.protyle-wysiwyg .li[data-node-id][custom-riff-decks] {
	border-left: 2px solid #ff6a6a;
	box-shadow: 1px 1px 4px #aaaaaa;
	margin-top: 2px;
	margin-bottom: 4px;
	padding-left: 2px;

	& > .protyle-action,
	& > [data-node-id] {
		left: -2px;
	}
}
.protyle-wysiwyg .p[data-node-id][custom-riff-decks] {
	border-left: 2px solid #00c853;
	box-shadow: 1px 1px 4px #aaaaaa;
	margin-top: 2px;
	margin-bottom: 4px;
	padding-left: 2px;
}
.protyle-wysiwyg .bq[data-node-id][custom-riff-decks] {
	border-left: 2px solid #cccf84;
	box-shadow: 1px 1px 4px #aaaaaa;
	margin-top: 2px;
	margin-bottom: 4px;
	padding-left: 2px;
}
.protyle-wysiwyg .sb[data-node-id][custom-riff-decks] {
	border-left: 2px solid #7c4dff;
	box-shadow: 1px 1px 4px #aaaaaa;
	margin-top: 2px;
	margin-bottom: 4px;
	padding-left: 2px;

	& > [data-node-id] {
		left: -2px;
	}
}

// 数据库角标样式
.protyle-attr--av svg {
	display: none; // 去除数据库图标
}
.protyle-attr--av > span {
	color: var(--b3-theme-on-background);
	padding: 0 .4em;
	border-radius: var(--b3-border-radius-b);
}
.protyle-attr--av > span:nth-child(4n+1) { // 每组的第1个
	background-color: var(--b3-card-success-background);
}
.protyle-attr--av > span:nth-child(4n+2) { // 每组的第2个
	background-color: var(--b3-card-info-background);
}
.protyle-attr--av > span:nth-child(4n+3) { // 每组的第3个
	background-color: var(--b3-card-warning-background);
}
.protyle-attr--av > span:nth-child(4n) {   // 每组的第4个
	background-color: var(--b3-card-error-background);
}

// 表格。首行不要加粗、首行要灰色背景
:is(.b3-typography, .protyle-wysiwyg) table thead th {
	font-weight: normal;
	background-color: var(--b3-table-even-background);
}

// 列表竖线
.protyle-wysiwyg [data-node-id].li {
	&::before {
		border-left-color: var(--b3-theme-background-light);
	}

	&:hover::before {
		border-left-color: var(--b3-theme-background-light); // hover 时颜色不变
	}
}

// 任务列表项前的方框，伪元素用圆角
.protyle-wysiwyg [data-node-id].li[data-subtype="t"] > .protyle-action::after {
	border-radius: var(--b3-border-radius);
}

// ————————————————————折叠块————————————————————

// 列表
.protyle-wysiwyg [data-node-id].li:has([data-whisper-block-focus]) > .protyle-action {
	color: var(--b3-theme-primary);
}
// 折叠的列表项
.protyle-wysiwyg [data-node-id].li[fold="1"]:has([data-whisper-block-focus]) > .protyle-action::after {
	background-color: var(--b3-theme-primary-lighter);
}
.protyle-wysiwyg [data-node-id].li[fold="1"] > .protyle-action::after {
	background-color: var(--wh-list-hover-dark);
}
// 无序列表
.protyle .protyle-wysiwyg .li[data-subtype="u"] > .protyle-action:hover::after {
	background-color: var(--wh-list-hover-darker);
}
// 有序列表、任务列表
// 图标必须是这一个 Size 为 32 的，位置才能刚好对上 https://fonts.google.com/icons?icon.set=Material+Icons&icon.style=Rounded&icon.size=32&icon.color=%235f6368&icon.query=Play&selected=Material+Icons+Round:play_arrow:&icon.platform=web
// 在 figma 基于上面这个图标改成了中空的：https://www.figma.com/design/d4H0T3mfcSljDQBm6G6eic
.protyle-wysiwyg [data-node-id].li:is([data-subtype="o"], [data-subtype="t"])[fold="1"] > .protyle-action::before {
	content: '';
	position: absolute;
	left: -13px;
	width: 14px;
	height: 14px;
	margin-top: 1.5px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position-y: center;
	pointer-events: none; // 伪元素会影响块标移动
}
// svg 里的 fill 填的是 --b3-theme-on-surface-light，两个模式的颜色不同
html[data-theme-mode="light"] .protyle-wysiwyg [data-node-id].li:is([data-subtype="o"], [data-subtype="t"])[fold="1"] > .protyle-action::before {
	background-image: url('$themeIcons/task-lists/play_arrow_5F6368_light.svg');
}
html[data-theme-mode="dark"] .protyle-wysiwyg [data-node-id].li:is([data-subtype="o"], [data-subtype="t"])[fold="1"] > .protyle-action::before {
	background-image: url('$themeIcons/task-lists/play_arrow_5F6368_dark.svg');
}
.protyle-wysiwyg [data-node-id].li:is([data-subtype="o"], [data-subtype="t"])[fold="1"]>.protyle-action::after {
	background-color: unset; // 有序列表、任务列表折叠的时候不需要阴影
}

// 标题块
.protyle-wysiwyg [data-node-id][data-type="NodeHeading"][fold="1"]::before {
	display: none;
}

// 代码块
.protyle-wysiwyg [data-node-id][fold="1"].code-block {
	height: 5em !important; // 显示前两行半的代码
}

// 给折叠的非列表项块添加背景
// 这个选择器用于覆盖原生样式
.protyle-wysiwyg [data-node-id][fold="1"]:not(.li) {
	background-image: repeating-linear-gradient(
		-45deg,
		var(--b3-theme-background-light),
		var(--b3-theme-background-light) 5px,
		var(--b3-list-hover) 0,
		var(--b3-list-hover) 10px
	);

	// 折叠的代码块
	&.code-block:not(pre) {
		.protyle-action {
			background-image: inherit; // 继承父级的背景图
			background-position: 8px 0;

			&::after {
				background-color: var(--b3-list-hover) !important;
			}
		}

		.hljs {
			background-image: inherit;
			background-position: 11px 0;
			background-color: var(--b3-theme-background-light);
		}
	}

	// 折叠的提示块
	&.callout[data-node-id][fold="1"] {
		height: unset;
	
		.callout-content {
			display: none;
		}
	}
}


// ————————————————————标题块————————————————————

// 隐藏展开标题块时一闪而过的 loading-pure.svg
[data-node-id][data-type="NodeHeading"] > div[spin]:last-child {
	display: none;
}

// 标题块前的图标。图标样式参考了粉色小屋主题 https://github.com/StarDustSheep/pink-room
// 当前图标用 figma 设计 https://www.figma.com/design/ZVi3rMLjzsDfnhBvZYI1S1/ ，导出为 svg、去掉 width 和 height、添加 preserveAspectRatio="none"
.protyle-wysiwyg [data-node-id] {
	// 导出 PDF 的文档标题不应用样式，用 :not([title]) 排除
	&:is(.h1:not([title]), .h2, .h3, .h4, .h5, .h6) > [spellcheck] {
		background-size: 1em;
		background-repeat: no-repeat;
	}

	&.h1:not([title]) > [spellcheck] {
		padding-left: calc(1.75em / 1.75 * .43);
		background-image: url('$themeIcons/headings/h1.svg');
		background-position: calc(1.75px / 1.75 * 0) calc(1.75em / 1.75 * .3 + .04em);
	}
	&.h2 > [spellcheck] {
		padding-left: calc(1.75em / 1.55 * .43);
		background-image: url('$themeIcons/headings/h2.svg');
		background-position: calc(1.75px / 1.55 * .5) calc(1.75em / 1.55 * .3 - .02em);
	}
	&.h3 > [spellcheck] {
		padding-left: calc(1.75em / 1.38 * .43);
		background-image: url('$themeIcons/headings/h3.svg');
		background-position: calc(1.75px / 1.38 * .8) calc(1.75em / 1.38 * .3 - .06em);
	}
	&.h4 > [spellcheck] {
		padding-left: calc(1.75em / 1.25 * .43);
		background-image: url('$themeIcons/headings/h4.svg');
		background-position: calc(1.75px / 1.25 * 1) calc(1.75em / 1.25 * .3 - .08em);
	}
	&.h5 > [spellcheck] {
		padding-left: calc(1.75em / 1.13 * .43);
		background-image: url('$themeIcons/headings/h5.svg');
		background-position: calc(1.75px / 1.13 * 1.2) calc(1.75em / 1.13 * .3 - .14em);
	}
	&.h6 > [spellcheck] {
		padding-left: calc(1.75em / 1 * .43);
		background-image: url('$themeIcons/headings/h6.svg');
		background-position: calc(1.75px / 1 * 1.5) calc(1.75em / 1 * .3 - .2em);
	}

	// 列表内的首个块是标题块
	&.li>div:nth-child(2) {
		// 因为 min-height: 1em; 所以位置不够，要调整 background-position-y
		&.h1:not([title]) > [spellcheck] {
			background-position-y: 0;
		}
		&.h2 > [spellcheck] {
			background-position-y: .05em;
		}
		&.h3 > [spellcheck] {
			background-position-y: .1em;
		}
		&.h4 > [spellcheck] {
			background-position-y: .15em;
		}
		&.h5 > [spellcheck] {
			background-position-y: .25em;
		}
		&.h6 > [spellcheck] {
			background-position-y: .35em;
		}
	}

	// 居中、居右的标题块不需要显示图标
	&:is(.h1:not([title]), .h2, .h3, .h4, .h5, .h6):is([style*="text-align: center"], [style*="text-align: right"]) > [spellcheck] {
		background: unset !important;
		padding-left: unset;
	}
}


// ————————————————————列表块————————————————————

// 列表内的块
body .protyle-wysiwyg [data-node-id].li > .protyle-action {
	// 子块
	&~ div:not(.code-block) {
		line-height: 1.625em;

		&:is(.h1, .h2, .h3, .h4, .h5, .h6) {
			line-height: 1.625em; // 覆盖原生样式
		}

		&> [spellcheck] {
			min-height: 1.625em;
		}
	}

	// 子块中的标题块
	&~ div[data-type=NodeHeading] > [spellcheck] {
		min-height: 1em;
	}

	// 首个子块
	&+ [data-node-id] {
		&.h1 {
			// line-height: calc(1.625em / 1.75);
			// 一级标题加一点行间距 https://github.com/siyuan-note/siyuan/issues/14062#issuecomment-2661340834
			line-height: 1em;
		}

		&.h2 {
			line-height: calc(1.625em / 1.55);
		}

		&.h3 {
			line-height: calc(1.625em / 1.38);
		}

		&.h4 {
			line-height: calc(1.625em / 1.25);
		}

		&.h5 {
			line-height: calc(1.625em / 1.13);
		}

		&.h6 {
			line-height: 1.625em;
		}
	}
}

// 已完成的任务列表项
// 如果已完成的任务列表项的子块中包含非段落块（非段落块没有删除线），则这个非段落块之后的段落块也不需要删除线
.protyle-task--done > div[data-node-id]:not(.p) ~ [data-node-id].p {
	text-decoration: unset; // 覆盖原生样式
}

// ————————————————————代码块————————————————————

// 代码块滚动时语言和按钮固定在编辑器顶部 CSS片段
// author by JeffreyChen https://ld246.com/article/1728146248791
// NOTE 用:not(#preview)排除导出PDF，用:not(.export-img)排除导出图片，用.protyle-wysiwyg排除导出预览，.protyle-wysiwyg[data-readonly="true"]是只读模式
// NOTE 导出预览的代码块没有 .protyle-action
.b3-typography .code-block, .protyle-wysiwyg .code-block {
	background: var(--b3-protyle-code-background); // 代码块背景色强制统一，覆盖代码块主题；代码块文本颜色遵循代码块主题
	border-radius: var(--b3-border-radius);
}
// 集市包 README 的代码块需要背景色，否则会被 README 特效样式影响
.item__readme pre {
	background: var(--b3-theme-surface);
	border-radius: var(--b3-border-radius);
}
.protyle-wysiwyg:not(.protyle-wysiwyg--hiderange) .hljs ::selection {
	background-color: var(--b3-theme-primary-lighter); // 选中文本的高亮颜色覆盖代码块主题
	color: inherit;
}

div:not(#preview):not(.export-img) > .protyle-wysiwyg .code-block:not(pre) { // 排除导出 PDF 和导出图片
	.protyle-action {
		background-color: var(--b3-parent-background);
		position: sticky;
		top: 0;

		&::after {
			content: "";
			position: absolute;
			height: 100%;
			width: 100%;
			background-color: var(--b3-protyle-code-background);
			pointer-events: none;
		}

		.protyle-action__language {
			color: var(--b3-theme-on-background);
		}
	}

	// 代码块本身有背景色的情况
	&[style*="--b3-parent-background"] .protyle-action::after {
		background-color: var(--b3-parent-background);
	}

	.hljs {
		padding: 0 1em 24px; // .protyle-icon 的高度是 24px，要让上下边距对称的话底部也要留 24px
	}
}

// 始终显示设置的代码块语言
.protyle-wysiwyg .code-block:not(pre):not(:hover) .protyle-action__language {
	opacity: .5;
}
// 让代码块语言和按钮高于伪元素显示
.protyle-wysiwyg .code-block:not(pre) :is(.protyle-action__language, .protyle-icon) {
	z-index: 1;
}
// 只有 hover 代码块时才显示代码块语言占位符
.protyle-wysiwyg[data-readonly=false] .code-block:not(pre):not(:hover) .protyle-action .protyle-action__language:empty::after {
	opacity: 0;
}

// ————————————————————提示块————————————————————

:is(.b3-typography, .protyle-wysiwyg) .callout {
	padding: 0;
	color: var(--b3-theme-on-background);
	background-color: transparent;
	border: 1px solid var(--b3-callout-note);

	.callout-info {
		margin: 0;
		padding: 0;
		border-radius: var(--b3-border-radius) var(--b3-border-radius) 0 0;
		background-color: rgba(from var(--b3-callout-note) r g b / .2);

		.callout-icon {
			margin: calc((1.625em - 1.2em) / 2);
		}
	
		.callout-title {
			margin-left: 0;
			transition: unset;
			color: var(--b3-theme-on-background);
		}
	}

	&[data-subtype=TIP] {
		border: 1px solid var(--b3-callout-tip);

		.callout-info {
			background-color: rgba(from var(--b3-callout-tip) r g b / .2);
		}
	}
	&[data-subtype=IMPORTANT] {
		border: 1px solid var(--b3-callout-important);

		.callout-info {
			background-color: rgba(from var(--b3-callout-important) r g b / .2);
		}
	}
	&[data-subtype=WARNING] {
		border: 1px solid var(--b3-callout-warning);

		.callout-info {
			background-color: rgba(from var(--b3-callout-warning) r g b / .2);
		}
	}
	&[data-subtype=CAUTION] {
		border: 1px solid var(--b3-callout-caution);

		.callout-info {
			background-color: rgba(from var(--b3-callout-caution) r g b / .2);
		}
	}

	&::before {
		display: none;
	}

	.callout-content {
		padding: 4px 4px 4px max(.25em, 4px);
		color: var(--b3-theme-on-background);
		background-color: transparent;
	}
}
