// NOTE 确保布局不会跟全屏模式冲突：编辑器全屏、关系图全屏

.layout-tab-bar {
    border-bottom: unset; // 隐藏标签页栏底部边框
}

// ————————————————————顶栏————————————————————

$toolbar-height--hide: 42px;

// 顶栏融合
body.body--toolbar-hide {
    .toolbar {
        height: $toolbar-height--hide;
    }
}

// 主菜单
#barWorkspace {
    min-width: 37px;

    .toolbar__svg {
        margin-left: auto;
    }
}

// 顶栏不显示文档名（禁用顶栏融合时）
.toolbar > .fn__ellipsis {
    opacity: 0;
}

// ————————————————————浮窗————————————————————

// 减小浮窗工具栏高度
$popover-toolbar-height: 34px;

.block__popover > .block__icons {
    min-height: $popover-toolbar-height;

    &> .resize__move {
        height: $popover-toolbar-height;
    }
}

// ———————————————————分隔线———————————————————

// 默认的细分隔线
.layout__resize {
    &::after {
        content: "";
        transition: background-color 0.2s ease-out;
    }

    &:hover::after {
        background-color: var(--b3-theme-primary);
        transition: background-color 0.2s ease-out 0.3s;
    }

    &:active::after {
        background-color: var(--b3-theme-primary);
        transition: none;
    }
}

// 停靠栏的可拖拽分隔线，选择器跟思源 app\src\assets\scss\business\_layout.scss 保持一致
.layout {
    &__dockl + .layout__resize,
    &__center + .layout__resize,
    &:not(.layout__center) > .layout__resize {
        // 思源对这组选择器设置了 content: none，伪元素默认不存在，过渡无法生效
        // 因此在基础态显式创建伪元素，仅在 hover / active 时改变颜色
        &::after {
            content: "";
            background-color: transparent;
            transition: background-color 0.2s ease-out;
            top: calc(var(--b3-layout-space) / 4);
            height: calc(var(--b3-layout-space) / 2);
        }

        // 竖线
        &--lr::after {
            top: 0;
            height: 100%;
            left: calc(var(--b3-layout-space) / 4);
            width: calc(var(--b3-layout-space) / 2);
        }

        body.body--toolbar-hide & {
            &--lr::after {
                top: $toolbar-height--hide;
                height: calc(100% - $toolbar-height--hide);
            }
        }

        // 鼠标悬浮时是 hover 状态，拖拽过程中是 active 状态，但不一定 hover，所以要分别处理
        &:hover::after {
            background-color: var(--b3-theme-primary);
            transition: background-color 0.2s ease-out 0.3s;
        }

        &:active::after {
            background-color: var(--b3-theme-primary);
            transition: none;
        }
    }
}
