// NOTE 确保布局不会跟全屏模式冲突：编辑器全屏、关系图全屏

.layout-tab-bar {
    border-bottom: unset; // 隐藏标签页栏底部边框
}

// ————————————————————浮窗————————————————————

// 减小浮窗工具栏高度
$popover-toolbar-height: 34px;

.block__popover > .block__icons {
    min-height: $popover-toolbar-height;

    &> .resize__move {
        height: $popover-toolbar-height;
    }
}