// 隐藏标签页栏底部边框
.layout-tab-bar {
    border-bottom: unset;
}

// ————————————————————浮窗————————————————————

// 减小浮窗工具栏高度
$popover-toolbar-height: 34px;

.block__popover > .block__icons {
    min-height: $popover-toolbar-height;

    &> .resize__move {
        height: $popover-toolbar-height;
    }
}