// 菜单、弹窗、浮窗

@use "sass:list";
@use "util" as util;

.b3-menu--list .b3-menu__label {
	-webkit-mask-image: unset;
}

// 按钮带过渡感觉不跟手，去掉过渡样式
.block__icons .fn__space, // 停靠栏面板的按钮间距 https://github.com/siyuan-note/siyuan/commit/a1d9c1239a1128f65de1defc1dc73bf6924c0759
.block__icon,
.toolbar__item,
.protyle-icons,
.protyle-icon,
.b3-select,
.b3-button {
	transition: unset !important;
}

// 超链接菜单，链接和锚文本输入框默认两行高（不显示滚动条就需要 50px）
button {
	&[data-id="linkAndAnchorAndTitle"] textarea {
		&:nth-of-type(1),
		&:nth-of-type(2) {
			height: 50px;
		}
	}
	&[data-id="link"],
	&[data-id="linkAndTitle"] {
		textarea {
			height: 50px;
		}
	}
}

.b3-menu__items {
	scrollbar-gutter: stable;
	padding-right: 0;
	padding-left: util.$scrollbar-width;
}

// 选项菜单
.b3-menu__item {
	$menu-item-line-height: 26px;
	line-height: $menu-item-line-height;
	min-width: 100px; // 菜单如果太窄的话用起来不方便，至少 100px

	// 减小菜单文本的最小宽度，进而减小菜单整体的宽度
	.b3-menu__label {
		min-width: 25px;

		.av__panel & {
			min-height: $menu-item-line-height; // 选项内容垂直居中
		}
	}

	// 缩小菜单里的时间信息
	&[data-id="docInfo"] .b3-menu__label,
	&[data-id="updateAndCreatedAt"] .b3-menu__label {
		line-height: 18px;
		font-size: 85%;
	}

	// 宽度、高度菜单的输入框 https://github.com/siyuan-note/siyuan/issues/14163
	body:not([data-whisper-device="mobile"]) & {
		button[data-id="widthInput"] input,
		button[data-id="heightInput"] input {
			width: 150px;
		}
	}
}

// 移动端和桌面端显示特定设备上隐藏的设置 Tab
// 搜索时选项会添加 display: none; 内联样式，所以使用 .fn__none 来避免搜索时也始终显示
#menu > .b3-menu__items > b3-menu__item.fn__none,
.config__tab-scroll .b3-list-item.fn__none {
	display: flex !important;
}

// 页签菜单，把关闭放在末尾
#commonMenu[data-name="tab"] > .b3-menu__items {
	display: flex;
	flex-direction: column;

	$order: (copy, split, pin, unpin, tabToWindow, separator_1, close);

	@each $id in $order {
		@each $name in $id {
			[data-id="#{$name}"] {
				order: list.index($order, $id);
			}
		}
	}
}


// 隐藏闪卡按钮上的图标
.card__icon {
	display: none;
}


// ————————————————————外观菜单————————————————————

.protyle-font {
	padding-left: util.$scrollbar-width;
	padding-right: 0;

	// 隐藏 最近使用的外观、字体效果
	[data-id="lastUsed"],
	[data-id="lastUsed"] + .fn__hr--small,
	[data-id="lastUsedWrap"],
	[data-id="lastUsedWrap"] + .fn__hr,
	[data-id="fontStyle"],
	[data-id="fontStyle"] + .fn__hr--small,
	[data-id="fontStyleWrap"],
	[data-id="fontStyleWrap"] + .fn__hr {
		display: none;
	}
}

// 数据库选项颜色菜单
.b3-menu[data-name="av-col-option"] .color__square {
	background-color: transparent !important;

	// 数据库选项 13 号色块预览（字色）
	--b3-font-color13: var(--wh-database-color13);
}

// 颜色选项
.color__square {
	&[data-type="color"],
	&[data-type="style1"] {
		font-size: 18px;
		font-weight: bold; // 字体加粗更清晰
	}

	$orders: 1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13;

	@for $i from 1 through 12 {
		&[style*="--b3-font-color#{$i}"],
		&[style*="--b3-font-background#{$i}"] {
			order: list.nth($orders, $i);
		}
	}

	&[style*="--b3-font-color13"],
	&[style*="--b3-font-background13"] {
		order: 7; // 把 13 号颜色排到默认色正下方；在数据库选项颜色弹窗里是第一行最右边

		&[data-type="color"] {
			color: var(--b3-theme-on-background) !important;
			-webkit-text-stroke: .4px var(--b3-theme-on-background);
			-webkit-text-fill-color: transparent;
		}
	}

	&[data-color="14"] {
		order: 14; // 数据库选项专有颜色
	}
}

// 表情选择器最近使用的表情只显示两行
.emojis__panel .emojis__title[data-type="0"] + .emojis__content {
	max-height: 68px; // 最近使用的表情只显示两行
	overflow: hidden;
}

// ————————————————————属性面板————————————————————

// 内置属性 - 备注输入框高度适应内容
.custom-attr textarea[data-name="memo"] {
	field-sizing: content;
}

// 数据库 - 标题
.custom-attr__avheader .block__logo {
	color: var(--b3-theme-primary);
	font-size: 1.25em;

	&>.block__logoicon {
		display: none;
	}
}

// ————————————————————弹窗————————————————————

// 闪卡窗口背景变暗一点
.b3-dialog--open[data-key="dialog-opencard"] .b3-dialog__scrim::before {
	content: '';
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: var(--b3-mask-background);
}

// ————————————————————浮窗————————————————————

// 减小浮窗工具栏高度
$popover-toolbar-height: 34px;

.block__popover > .block__icons {
	min-height: $popover-toolbar-height;

	&> .resize__move {
		height: $popover-toolbar-height;
	}
}