// 导出预览
.b3-typography {
    // 导出预览的字号可变、默认比编辑器字号小 2px
    font-size: calc(var(--b3-font-size-editor) - 2px);
}

// 导出 PDF 或图片时显示内容块备注
:is(body > #preview, .export-img) .protyle-attr {
    pointer-events: none; // 鼠标悬浮在内容块备注上时不需要显示 tooltip

    // 显示内容块备注（导出图片时这个伪元素不显示，所以导出图片不支持显示内容块备注）
    // v3.3.5 以后块备注默认是通过 tooltip 显示的，没有 .b3-tooltips 类名 https://github.com/siyuan-note/siyuan/pull/16025
    &>div.protyle-attr--memo {
        max-width: 25vw;
        display: flex;
        align-items: center;
        overflow: hidden;

        svg {
            overflow: initial;
            margin-right: 2px; // 导出图片时有个优先级比较高的选择器需要覆盖：.protyle-attr>div:not(.protyle-attr--refcount).protyle-attr--memo svg
        }

        &::before {
            display: none;
        }

        &::after {
            opacity: 1;
            display: contents;
            position: inherit;
            content: attr(aria-label);
            white-space: pre;
            z-index: inherit;
            padding: inherit;
            font-size: inherit;
            font-weight: inherit;
            -webkit-font-smoothing: inherit;
            color: inherit;
            word-wrap: inherit;
            background-color: inherit;
            border-radius: inherit;
            line-height: inherit;
            transform: inherit;
            max-width: inherit;
            overflow: inherit;
            text-overflow: inherit;
            box-sizing: inherit;
            box-shadow: inherit;
            font-family: inherit;
        }
    }
}

// 添加覆盖整个导出页面的伪元素，避免把 hover 样式导出 https://github.com/siyuan-note/siyuan/issues/14153
// HTML 导出后没有 .exporting；PDF 导出状态时没有 #action
body > #preview.exporting::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    z-index: 5;
}
// 图片处于导出中的状态时 .b3-dialog__container 的内联样式中没有 height，此时添加覆盖整个导出页面的伪元素
.export-img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 5;
}
body > #action + #preview::before,
.b3-dialog__container[style*="height"] .export-img::before {
    display: none;
}
