// 搜索窗口、搜索页签

@use "menu" as menu;

.b3-dialog--open[data-key="dialog-search"],
.b3-dialog--open[data-key="dialog-replace"],
.b3-dialog--open[data-key="dialog-globalsearch"] {
    .b3-dialog__container .fn__flex-column {
        // 顶部拖拽工具栏
        & > .block__icons {
            min-height: menu.$popover-toolbar-height;

            // 搜索行
            & + .b3-form__icon.search__header {
                border-top: none;
            }
        }

        // 查询条件行
        #criteria {
            $criteria-padding: 1px 4px;

            // 查询条件按钮
            .b3-chip {
                padding: $criteria-padding;
                transition: unset;
    
                .b3-chip__close {
                    transition: unset;
                }
            }

            // 保存和重置查询条件按钮
            .b3-button {
                padding: $criteria-padding;
            }
        }

        // 底部快捷键提示
        .search__tip {
            border: none;
            user-select: none;
        }
    }
}

// 替换类型弹窗
.b3-dialog--open[data-key="dialog-replacetype"] .b3-dialog__content {
    display: grid;
    gap: 0 40px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

    .b3-label {
        padding: 10px 10px;
        border-bottom: none;
    }
}

// 左右布局，列出引用失效的块 预览文档
.search__layout.search__layout--row #searchUnRefPreview {
    padding-top: 6px;
}

#searchList,
#searchAssetList {
    scrollbar-gutter: stable;

    // 直接子元素：不按文档分组
    // 搜索结果为空时的新建文档选项是 [data-type="search-new"]
    & > .b3-list-item[data-type="search-item"] {
        flex-wrap: wrap;
        justify-content: flex-end;
        margin-right: 0;
        overflow: hidden; // 文档路径过长时截断

        // 块标
        .b3-list-item__graphic {
            position: absolute;
            left: 4px;
            top: 4px;
        }

        // 文档图标
        & > .b3-list-item__graphic + .b3-list-item__graphic {
            position: absolute;
            margin-left: 20px;

            // 带文档图标的文档标题
            & + .b3-list-item__text {
                text-indent: 20px;
            }
        }

        // 搜索结果文本或文档标题
        .b3-list-item__text {
            line-height: 1.3;
            text-align: justify; // 两侧对齐
            margin-left: 20px;
            padding: 3px 3px 3px 0;
            flex-basis: 100%;
            display: block; // 换行完整显示
        }

        // 资源文件搜索-文件拓展名
        .ft__on-surface {
            display: none;

            // 文件拓展名后面的间隔
            & + .fn__space {
                display: none;

                // 搜索结果文本
                & + .b3-list-item__text {
                    margin: 0;
                }
            }
        }

        // 其他属性
        .b3-list-item__meta {
            line-height: 20px;
            opacity: .54; // 减弱元信息的干扰

            // 属性图标
            .b3-list-item__hinticon {
                margin-right: 2px;
            }

            // 属性文本
            .b3-list-item__hinttext {
                font-size: .7rem;
            }

            // 标签或路径
            &.b3-list-item__meta--ellipsis {
                font-size: .7rem;
                max-width: none;

                // 标签
                &:not(.ariaLabel) {
                    opacity: 1; // 突出显示

                    &::before {
                        content: "#";
                        font-size: 1.1em;
                        padding-right: .1em;
                        color: var(--b3-theme-primary);
                    }
                }

                // 路径
                &.ariaLabel {
                    padding-right: 3px;
                }
            }
        }
    }
}
