// 顶栏
// 备注：需要确保对顶栏的更改不跟全屏模式冲突：编辑器全屏、关系图全屏

// 思源原生顶栏不融合时的高度
$toolbar-height: 32px;
// 思源原生顶栏融合时的高度
$toolbar-height--hide: 42px;

// 主菜单
#barWorkspace {
    min-width: 37px;

    .toolbar__svg {
        margin-left: auto;
    }
}

// 顶栏不显示文档名（禁用顶栏融合时）
.toolbar > .fn__ellipsis {
    opacity: 0;
}
