// 图片预览 viewerjs 组件的样式

.viewer-container {
  // 原生配色
  html[data-theme-mode="light"] & {
    --b3-tooltips-background: #312f35;
    --b3-tooltips-color: #dfe0e1;
  }
  html[data-theme-mode="dark"] & {
    --b3-tooltips-background: #030303;
    --b3-tooltips-color: #bababa;
  }
}
