// ————————————————————— 模块 ————————————————————————

@use "modules/layout" as *;       // 布局
@use "modules/dock" as *;         // 侧栏和面板
@use "modules/status" as *;       // 底栏
@use "modules/editor" as *;       // 编辑器
@use "modules/database" as *;     // 数据库
@use "modules/menu" as *;         // 菜单、浮窗、弹窗
@use "modules/tooltip" as *;      // 悬浮提示
@use "modules/tab-bar" as *;      // 页签
@use "modules/search" as *;       // 搜索
@use "modules/preview" as *;      // 导出
@use "modules/mobile" as *;       // 移动端特有样式
@use "modules/global.scss" as *;  // 全局样式和 CSS 变量

// ————————————————————— 配色 ————————————————————————
// NOTE 偶尔需要跟进最新版默认主题的变更

// 明亮主题
@use "appearance/light-blush" as *;   // 胭脂（默认配色）

// 暗黑主题
@use "appearance/dark-graphite" as *; // 石墨（默认配色）

// 文本外观
// @use "text/text.scss" as *;